<div class="container--default" (mouseleave)="showPreview('')">
  <ng-container
    *ngIf="
      (applications$ | async)?.data?.applications?.length > 0;
      else noApplications
    "
  >
    <div
      id="preview"
      *ngIf="previews"
      class="container--default-margin absolute inset-0 pointer-events-none"
    >
      <div
        class="absolute inset-0 transform-gpu transition-opacity duration-500"
        [ngClass]="[
          application.id === visiblePreview
            ? 'opacity-100 ease-out'
            : 'opacity-0 ease-in'
        ]"
        *ngFor="let application of (applications$ | async)?.data.applications"
      >
        <ng-container
          *ngFor="let file of application?.files; let index = index"
        >
          <app-image
            class="absolute inset-0"
            [key]="file.key"
            [mimetype]="file.mimetype"
            size="_1440x1200"
          ></app-image>
        </ng-container>
      </div>
    </div>
    <div
      class="container--default-x flex items-center py-2 space-x-8 border-b bg-white border-gray-300 relative z-10 text-xxs uppercase font-mono"
    >
      <div class="flex-auto">Künstler:in-Alias</div>
      <div>Bewertungen</div>
      <div>Stimmen</div>
      <div class="w-10 text-right">Notizen</div>
    </div>
    <div
      (mouseleave)="showPreview('')"
      *ngFor="let application of (applications$ | async)?.data.applications"
      class="container--default-x flex items-center py-4 space-x-8 border-b border-gray-300 even:bg-gray-200 even:bg-opacity-25 hover:bg-gray-50 hover:bg-opacity-100 relative"
      [ngClass]="[
        application.elimination
          ? 'text-gray-400 hover:text-black transition-colors'
          : ''
      ]"
    >
      <div
        class="flex-auto font-mono"
        [ngClass]="{ capitalize: anonymous }"
        [innerText]="
          anonymous
            ? application.internal_name
            : application.name || 'Untitled Application'
        "
      ></div>
      <div
        class="text-xxs bg-red-600 text-white px-2 rounded-full font-condensed font-medium uppercase"
        *ngIf="application.elimination as elimination"
        title="Eliminated
        {{ elimination.created_at | timePassed }} ago by
        {{ elimination.eliminated_by.name }}"
      >
        {{ "snippets.application-eliminated" | translate }}
        <span *ngIf="elimination.reason">: {{ elimination.reason }}</span>
      </div>
      <div
        class="text-center"
        *ngIf="application.ratings_aggregate?.aggregate?.avg?.value as rating"
        [ngSwitch]="true"
        [ngClass]="[
          application.ratings_aggregate?.aggregate?.stddev_samp?.value > 5
            ? 'text-red-800'
            : ''
        ]"
      >
        <div *ngSwitchCase="rating > 5" class="text-blue-700">[Yes]</div>
        <div *ngSwitchCase="rating === 5">[Maybe]</div>
        <div *ngSwitchCase="rating < 5">[No]</div>
        <div *ngSwitchDefault>–</div>
      </div>
      <div
        class="text-center font-mono py-1 px-4 rounded-lg bg-gray-200 hover:bg-blue-600 hover:text-white"
        [innerText]="application.ratings_aggregate?.aggregate?.count || 0"
      ></div>
      <button
        class="w-10 text-right hover:text-blue-600 relative z-10 focus:outline-none focus:ring-0"
        [ngClass]="{
          'text-blue-600': application.id === visibleChat
        }"
        (click)="toggleChat(application.id, $event)"
      >
        <svg
          class="inline-block"
          width="25px"
          height="21px"
          viewBox="0 0 25 21"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <path
              d="M1,2.87232347 L1,14.8541978 C1,15.8862995 1.83211783,16.7261893 2.85499785,16.7261893 L4.70966681,16.7261893 L4.70966681,21 L8.94392964,16.7261893 L22.1450021,16.7261893 C23.1675533,16.7261893 24,15.8862995 24,14.8541978 L24,2.87232347 C24,1.84022176 23.1675533,1 22.1450021,1 L2.85499785,1 C1.83211783,1 1,1.84022176 1,2.87232347 Z M18,9 L7,9 M18,6 L7,6 M15,12 L7,12"
              id="Stroke-2"
              stroke="currentColor"
            ></path>
          </g>
        </svg>
      </button>
      <div
        *ngIf="application.id === visibleChat"
        class="absolute z-30 top-12 right-6 w-5/6 md:w-80 h-screen max-h-96 bg-white shadow-md rounded-2xl"
      >
        <app-chat
          [application_id]="application.id"
          [readOnly]="true"
          class="absolute inset-0 flex flex-col"
        ></app-chat>
        <!-- <div
          class="absolute -top-2 -right-2 h-6 w-6 flex justify-center items-center bg-black text-white rounded-full"
          (click)="toggleChat(application.id, $event)"
        >
          <span>X</span>
        </div> -->
      </div>

      <a
        (mouseenter)="showPreview(application.id)"
        class="absolute inset-0 z-0"
        [routerLink]="[application.id]"
        routerLinkActive="router-link-active"
      ></a>
    </div>
  </ng-container>
  <ng-template #noApplications>
    <div class="my-1 h-80 flex items-center justify-center relative z-10">
      <span
        class="text-gray-300"
        [innerText]="'snippets.no-applications' | translate"
      ></span>
    </div>
  </ng-template>
  <div class="container--default flex items-center relative z-10 space-x-8">
    <div class="flex items-center">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <!-- On: "bg-gray-600", Off: "bg-gray-200" -->
      <button
        (click)="togglePreviews()"
        type="button"
        aria-pressed="false"
        aria-labelledby="toggleLabel"
        [ngClass]="previews ? 'bg-green-600' : 'bg-red-600'"
        class="relative inline-flex flex-shrink-0 h-6 w-12 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-white-400"
      >
        <span
          class="sr-only"
          [innerText]="'snippets.hide-idenity' | translate"
        ></span>
        <!-- On: "translate-x-5", Off: "translate-x-0" -->
        <span
          aria-hidden="true"
          [ngClass]="[previews ? 'translate-x-6' : 'translate-x-0']"
          class="inline-block h-5 w-5 bg-white rounded-full shadow transform ring-0 transition ease-in-out duration-200"
        ></span>
      </button>
      <div
        class="ml-2 text-xs font-mono text-gray-800 leading-none"
        [innerText]="'defaults.preview' | translate | uppercase"
      ></div>
    </div>
    <div class="flex items-center">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <!-- On: "bg-gray-600", Off: "bg-gray-200" -->
      <button
        (click)="toggleAnonymity()"
        type="button"
        aria-pressed="false"
        aria-labelledby="toggleLabel"
        [ngClass]="anonymous ? 'bg-green-600' : 'bg-red-600'"
        class="relative inline-flex flex-shrink-0 h-6 w-12 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-white-400"
      >
        <span
          class="sr-only"
          [innerText]="'snippets.hide-idenity' | translate"
        ></span>
        <!-- On: "translate-x-5", Off: "translate-x-0" -->
        <span
          aria-hidden="true"
          [ngClass]="[anonymous ? 'translate-x-6' : 'translate-x-0']"
          class="inline-block h-5 w-5 bg-white rounded-full shadow transform ring-0 transition ease-in-out duration-200"
        ></span>
      </button>
      <div
        class="ml-2 text-xs font-mono text-gray-800 leading-none"
        [innerText]="'defaults.anonymous' | translate | uppercase"
      ></div>
    </div>
  </div>
</div>
