<app-modal #modalComponent>
  <div class="sm:flex sm:items-start">
    <div class="flex-auto" [formGroup]="form">
      <h3
        class="text-headline"
        id="modal-headline"
        [innerHTML]="'modals.edit-round.headline' | translate"
      ></h3>
      <div class="mt-2 grid grid-cols-form items-center gap-x-4 gap-y-3">
        <p
          class="col-span-3 text-sm text-gray-800"
          [innerHTML]="'modals.edit-round.intro' | translate"
        ></p>

        <label
          class="font-mono text-xxs uppercase"
          for="goal"
          [innerHtml]="('snippets.aimed-goal' | translate | titlecase) + ':'"
        ></label>
        <input
          id="goal"
          formControlName="goal"
          name="goal"
          type="number"
          [min]="1"
          step="1"
          class="col-span-2 appearance-none rounded-none relative block w-full px-2 py-2 border-solid bg-transparent border-b border-t-0 border-r-0 border-l-0 border-white font-mono placeholder-gray-300 text-black focus:outline-none focus:ring-gray-200 bg-gray-100 focus:border-transparent focus:z-10 text-sm"
          required
          [ngClass]="[
            goal.touched && goal.invalid && goal.errors?.pattern
              ? 'bg-red-100'
              : 'bg-gray-100'
          ]"
        />
        <label
          class="font-mono text-xxs uppercase"
          for="end_at"
          [innerHtml]="('snippets.ends-at' | translate | titlecase) + ':'"
        ></label>
        <input
          id="end_at"
          formControlName="end_at"
          name="end_at"
          type="datetime-local"
          [min]="dateTomorrow"
          pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
          class="col-span-2 appearance-none rounded-none relative block w-full px-2 py-2 border-solid bg-transparent border-b border-t-0 border-r-0 border-l-0 border-white font-mono placeholder-gray-300 text-black focus:outline-none focus:ring-gray-200 bg-gray-100 focus:border-transparent focus:z-10 text-sm"
          required
          [ngClass]="[
            (end_at.touched && end_at.invalid && end_at.errors?.pattern) ||
            (end_at.touched && form.errors?.mustStartBeforeEnd)
              ? 'bg-red-100'
              : 'bg-gray-100'
          ]"
        />
        <div class="col-span-3">
          <p
            *ngIf="end_at.touched && end_at.invalid && end_at.errors?.pattern"
            class="mt-2 text-xs font-mono text-red-600 leading-tight truncate"
            id="date-start-error"
          >
            Bitte gültiges Datumsformat eingeben (Beispiel:
            <code [innerText]="dateNow"></code>)
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 sm:mt-4 sm:flex">
    <button
      (click)="updateRound()"
      type="button"
      class="inline-flex justify-center w-full rounded-xl border border-transparent px-6 py-3 bg-black text-base font-mono text-white hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:w-auto sm:text-sm disabled:opacity-50"
      [disabled]="form.invalid"
      [innerHTML]="'actions.save' | translate | titlecase"
    ></button>
    <button
      (click)="close()"
      type="button"
      class="mt-3 w-full inline-flex justify-center rounded-xl border border-gray-800 px-6 py-3 bg-white text-base font-mono text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
      [innerHTML]="'actions.cancel' | translate | titlecase"
    ></button>
  </div>
</app-modal>
