<div
  class="aspect-w-1 aspect-h-1 md:aspect-w-16 md:aspect-h-9 lg:aspect-h-8 border-t border-b border-gray-300"
>
  <div class="flex overflow-hidden bg-gray-50">
    <div class="bg-gray-200 w-64 lg:w-80 border-r border-gray-300">
      <div
        class="px-4 py-2 whitespace-nowrap overflow-scroll overscroll-contain transition-colors"
        *ngFor="let work of works; let indexW = index; let first = first"
        [ngClass]="[
          (currentWorkIndex | async) == indexW
            ? 'bg-gray-900 '
            : 'hover:bg-gray-300 cursor-pointer'
        ]"
        (click)="setCurrentWork(indexW)"
      >
        <div
          class="inline-block h-20 w-auto mr-2 ring-blue-500 transition-shadow"
          (click)="setCurrentFile(indexF, $event, indexW)"
          *ngFor="let file of work?.files; let indexF = index"
          [ngClass]="[
            (work?.files?.length || 0) > 1
              ? 'hover:ring-gray-300 hover:ring-1 cursor-pointer'
              : '',
            (work?.files?.length || 0) > 1 &&
            (currentWorkIndex | async) == indexW &&
            (currentFileIndex | async) == indexF
              ? 'ring-1'
              : 'ring-0'
          ]"
        >
          <app-image
            [key]="file.key"
            [mimetype]="file.mimetype"
            size="_200x200"
            [title]="file.originalname"
          ></app-image>
        </div>
      </div>
    </div>
    <div
      class="flex-auto overflow-hidden relative lg:mx-40 transition-transform transform-gpu origin-right"
      [ngClass]="[
        showSpecification || showChat
          ? 'lg:-translate-x-40'
          : 'lg:translate-x-0'
      ]"
    >
      <div *ngIf="currentWork | async as work">
        <ng-container
          *ngFor="let file of work?.files; let index = index"
          [ngSwitch]="file.mimetype"
        >
          <app-pdf
            *ngSwitchCase="'application/pdf'"
            class="absolute inset-0 text-center transform-gpu transition-opacity"
            [key]="file.key"
            [mimetype]="file.mimetype"
            [title]="file.originalname"
            [ngClass]="[
              (currentFileIndex | async) == index
                ? 'opacity-100'
                : 'opacity-0 pointer-events-none'
            ]"
          >
          </app-pdf>
          <app-image
            *ngSwitchDefault
            class="absolute inset-0 text-center transform-gpu transition-opacity"
            [key]="file.key"
            [mimetype]="file.mimetype"
            [title]="file.originalname"
            size="_1440x1200"
            [ngClass]="[
              (currentFileIndex | async) == index
                ? 'opacity-100'
                : 'opacity-0 pointer-events-none'
            ]"
          ></app-image>
        </ng-container>
        <ng-container *ngIf="(work?.files?.length || 0) > 1">
          <button
            (click)="incrementFileIndex(-1, work?.files?.length || 0)"
            class="absolute left-0 top-1/2 transform -translate-y-1/2 p-2 text-3xl"
          >
            &larr;
          </button>
          <button
            (click)="incrementFileIndex(1, work?.files?.length || 0)"
            class="absolute right-0 top-1/2 transform -translate-y-1/2 p-2 text-3xl"
          >
            &rarr;
          </button>
        </ng-container>
      </div>
    </div>
    <app-chat
      [application_id]="application_id"
      class="absolute w-64 lg:w-80 inset-y-0 right-0 bg-gray-200 border-l border-gray-300 transition-transform transform-gpu origin-right"
      [ngClass]="[showChat ? 'translate-x-0' : 'translate-x-full']"
    ></app-chat>
    <div
      class="absolute w-64 lg:w-80 inset-y-0 right-0 bg-gray-200 border-l border-gray-300 transition-transform transform-gpu origin-right"
      *ngIf="currentWork | async as work"
      [ngClass]="[showSpecification ? 'translate-x-0' : 'translate-x-full']"
    >
      <div
        class="absolute inset-0 bg-gray-200 overflow-scroll overscroll-contain transform-gpu transition-opacity"
        *ngFor="let specification of work?.specifications; let index = index"
        [ngClass]="[
          (currentSpecificationIndex | async) == index
            ? 'opacity-100'
            : 'opacity-0 pointer-events-none'
        ]"
      >
        <div class="grid grid-cols-5 items-stretch p-4 lg:px-6 lg:py-8">
          <div
            class="col-span-2 border-b border-black text-gray-800 font-mono uppercase text-xs"
          >
            Titel
          </div>
          <div class="col-span-3 border-b border-black">
            {{ specification.title }}
          </div>
          <div
            class="col-span-2 border-b border-black text-gray-800 font-mono uppercase text-xs"
          >
            Jahr
          </div>
          <div class="col-span-3 border-b border-black">
            {{ specification.year }}
          </div>
          <div
            class="col-span-2 border-b border-black text-gray-800 font-mono uppercase text-xs"
          >
            Editionen
          </div>
          <div class="col-span-3 border-b border-black">
            {{ specification.number_of_editions }}
          </div>
          <div
            class="col-span-2 border-b border-black text-gray-800 font-mono uppercase text-xs"
          >
            Medium
          </div>
          <div class="col-span-3 border-b border-black">
            {{ specification.medium }}
          </div>
          <div
            class="col-span-2 border-b border-black text-gray-800 font-mono uppercase text-xs"
          >
            Maße
          </div>
          <div class="col-span-3 border-b border-black">
            {{ "defaults.dimensions-width" | translate | uppercase }}
            {{ specification.dimensions_width || 0 }}
            &times;&thinsp;{{
              "defaults.dimensions-height" | translate | uppercase
            }}
            {{ specification.dimensions_height || 0 }}
            &times;&thinsp;{{
              "defaults.dimensions-depth" | translate | uppercase
            }}
            {{ specification.dimensions_depth || 0 }}&thinsp;cm
          </div>
          <div
            class="col-span-5 border-b border-black text-gray-800 font-mono uppercase text-xs"
          >
            Tags
            <span
              class="m-1 inline-block h-4 bg-blue-600 py-1 px-2 text-white rounded-full leading-none text-center text-xxs"
              >Film/Video</span
            >
            <span
              class="m-1 inline-block w-4 h-4 ring-1 ring-gray-600 p-1 text-gray-800 rounded-full leading-none text-center text-xxs"
              >+</span
            >
          </div>
          <div class="col-span-5 text-gray-800 font-mono uppercase text-xs">
            Hinweis
            <span
              class="m-1 inline-block w-4 h-4 ring-1 ring-gray-600 p-1 text-gray-800 rounded-full leading-none text-center text-xxs"
              >+</span
            >
          </div>
          <div
            class="col-span-5 mt-6 border-b border-black text-gray-800 font-mono uppercase text-xs"
          >
            Beschreibung
          </div>
          <div
            class="col-span-5 py-2"
            [innerText]="specification.description"
          ></div>
        </div>
      </div>
      <!-- <div
        class="absolute bottom-0 inset-x-0 text-right font-mono m-1"
        *ngIf="(work?.specifications?.length || 0) > 1"
      >
        <button
          class="py-1 px-3 m-1 rounded-xl leading-none"
          (click)="setCurrentSpecification(index)"
          *ngFor="let specification of work?.specifications; let index = index"
          [ngClass]="[
            (currentSpecificationIndex | async) == index
              ? 'bg-black text-white'
              : 'bg-white text-black'
          ]"
        >
          <span
            class="inline-block"
            *ngIf="(currentSpecificationIndex | async) == index"
          >
            Arbeitsangabe
          </span>
          {{ index + 1 }}
        </button>
      </div> -->
    </div>
  </div>
</div>
<div class="border-b border-gray-300 mb-12 md:grid grid-cols-2 lg:grid-cols-3">
  <div
    class="lg:text-center lg:col-start-2"
    *ngIf="currentSpecification | async as specification"
  >
    <div class="font-mono mt-2 px-3">
      {{ specification?.title || "Untitled" }}
    </div>
    <ol *ngIf="currentWork | async as work">
      <li
        *ngFor="let item of work?.files; let index = index"
        class="inline-block p-3 mx-1 group"
        (click)="setCurrentFile(index, $event)"
        [ngClass]="[
        (work?.files?.length || 0) > 1
              ? 'cursor-pointer'
              : '',]"
      >
        <span
          class="block w-1 h-1 rounded-full ring-1 ring-gray-900 transition-colors"
          [ngClass]="[
            (work?.files?.length || 0) > 1
              ? 'group-hover:ring-blue-600 group-hover:bg-blue-600'
              : '',
            (currentFileIndex | async) == index
              ? 'bg-black ring-black'
              : 'bg-transparent'
          ]"
        ></span>
      </li>
    </ol>
  </div>
  <div class="flex justify-between items-center">
    <div
      class="font-mono flex items-center space-x-2"
      *ngIf="currentWork | async as work"
    >
      <button
        class="block h-8 py-1 px-3 rounded-xl leading-none"
        (click)="setCurrentSpecification(index)"
        *ngFor="let specification of work?.specifications; let index = index"
        [ngClass]="[
          (currentSpecificationIndex | async) == index && showSpecification
            ? 'bg-black text-white'
            : 'bg-gray-200 text-black'
        ]"
      >
        <span
          class="inline-block"
          *ngIf="(currentSpecificationIndex | async) == index"
        >
          Arbeitsangabe
        </span>
        <span *ngIf="(work?.specifications?.length || 0) > 1">
          {{ index + 1 }}
        </span>
      </button>
      <button
        class="block h-8 px-3 rounded-xl leading-none"
        (click)="toggleChat()"
        [ngClass]="[
          showChat ? 'bg-black text-white' : 'bg-gray-200 text-black'
        ]"
      >
        <!-- <div class="sr-only">Toggle Chat</div> -->
        <svg
          class="inline-block h-5 w-auto"
          width="25px"
          height="21px"
          viewBox="0 0 25 21"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <path
              d="M1,2.87232347 L1,14.8541978 C1,15.8862995 1.83211783,16.7261893 2.85499785,16.7261893 L4.70966681,16.7261893 L4.70966681,21 L8.94392964,16.7261893 L22.1450021,16.7261893 C23.1675533,16.7261893 24,15.8862995 24,14.8541978 L24,2.87232347 C24,1.84022176 23.1675533,1 22.1450021,1 L2.85499785,1 C1.83211783,1 1,1.84022176 1,2.87232347 Z M18,9 L7,9 M18,6 L7,6 M15,12 L7,12"
              id="Stroke-2"
              stroke="currentColor"
            ></path>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
