<div class="min-h-screen flex flex-col">
  <div
    class="container--default sticky top-0 inset-x-0 flex items-center justify-between z-10 backdrop-blur bg-white bg-opacity-80 border-b border-gray-200"
  >
    <div class="flex items-center space-x-4">
      <a
        [routerLink]="['..']"
        class="py-3 px-4 rounded-xl leading-none bg-gray-200"
      >
        <span class="sr-only">Back to overview</span>
        <svg
          width="11px"
          height="17px"
          viewBox="0 0 11 17"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-49.000000, -49.000000)">
              <g transform="translate(31.000000, 37.000000)">
                <polyline
                  stroke="currentColor"
                  stroke-width="2"
                  transform="translate(23.500000, 20.500000) rotate(-180.000000) translate(-23.500000, -20.500000) "
                  points="19.5 13.5 27.5 20.5 19.5 27.5"
                ></polyline>
              </g>
            </g>
          </g>
        </svg>
      </a>
      <div class="text-headline">Neue Einreichung:</div>
    </div>
  </div>
  <div class="flex-auto md:flex max-w-full">hello world</div>
  <footer class="container--default flex items-center justify-between">
    <div class="text-headline">Berlin Art Prize</div>
    <div>
      <p>Berlin Art Prize e.V.</p>
      <p>contact@berlinartprize.com</p>
    </div>
  </footer>
</div>
