<div class="min-h-screen flex flex-col">
  <div
    class="container--default sticky top-0 inset-x-0 flex items-center justify-between z-10 backdrop-blur bg-white bg-opacity-80 border-b border-gray-300"
  >
    <div class="flex items-center space-x-4">
      <button
        (click)="saveAndClose()"
        class="px-4 rounded-xl h-10 leading-none bg-gray-200"
      >
        <span
          class="sr-only"
          [innerText]="'screen-reader.back-to-overview' | translate"
        ></span>
        <svg
          width="11px"
          height="17px"
          viewBox="0 0 11 17"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-49.000000, -49.000000)">
              <g transform="translate(31.000000, 37.000000)">
                <polyline
                  stroke="currentColor"
                  stroke-width="2"
                  transform="translate(23.500000, 20.500000) rotate(-180.000000) translate(-23.500000, -20.500000) "
                  points="19.5 13.5 27.5 20.5 19.5 27.5"
                ></polyline>
              </g>
            </g>
          </g>
        </svg>
      </button>

      <div
        class="text-headline h-10 leading-10"
        [innerText]="
          ((isNew
            ? 'application-form.new-application'
            : 'application-form.edit-application'
          ) | translate) + ':'
        "
      ></div>
    </div>
  </div>

  <form class="flex-auto max-w-full space-y-5 lg:space-y-7" [formGroup]="form">
    <!-- APPLICATION FORM -->
    <div class="lg:flex xl:container container--default mx-auto">
      <div
        class="flex-auto font-mono text-sm grid grid-cols-1 lg:grid-cols-form items-center gap-x-4 gap-y-2 lg:gap-y-3"
      >
        <label
          for="name"
          [innerText]="'application-form.name-of-artist-or-group' | translate"
        ></label>
        <input
          id="name"
          formControlName="name"
          name="name"
          type="text"
          class="appearance-none rounded-none relative block w-full p-2 border-solid bg-gray-100 border-b border-t-0 border-r-0 border-l-0 border-transparent font-mono placeholder-gray-500 text-black focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 text-sm"
          [ngClass]="{
            'ring-1 ring-red-500': name?.invalid
          }"
        />
      </div>
      <div class="flex items-center ml-auto mt-3 lg:mt-0 lg:ml-4">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <!-- On: "bg-gray-600", Off: "bg-gray-200" -->
        <button
          (click)="toggleGroup()"
          type="button"
          aria-pressed="false"
          aria-labelledby="toggleLabel"
          [ngClass]="group?.value ? 'bg-green-500' : 'bg-gray-300'"
          class="relative inline-flex flex-shrink-0 h-6 w-12 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-white-400"
        >
          <span
            class="sr-only"
            [innerText]="'screen-reader.this-is-a-group' | translate"
          ></span>
          <!-- On: "translate-x-5", Off: "translate-x-0" -->
          <span
            aria-hidden="true"
            [ngClass]="group?.value ? 'translate-x-6' : 'translate-x-0'"
            class="inline-block h-5 w-5 bg-white rounded-full shadow transform ring-0 transition ease-in-out duration-200"
          ></span>
        </button>
        <span class="ml-3" id="toggleLabel">
          <span
            class="font-mono text-xs uppercase text-black leading-none"
            [innerText]="'application-form.application-is-by-group' | translate"
          >
          </span>
        </span>
      </div>
    </div>
    <div class="container--default-x py-8 lg:py-0">
      <!-- WORKS -->
      <div class="lg:flex lg:space-x-6 xl:space-x-8">
        <div class="flex-auto w-1/2">
          <div
            *ngIf="
              (portfolioWorks$ | async)?.data?.works?.length! > 0;
              else noPortfolioWork
            "
          >
            <div
              class="sm:my-4 sm:pb-4 border-gray-200"
              [ngClass]="{
                'border-b': !last
              }"
              *ngFor="
                let work of (portfolioWorks$ | async)?.data?.works;
                let last = last;
                trackBy: trackByFn
              "
            >
              <app-work-portfolio
                [files]="work.files"
                [application_id]="application_id"
                [work_id]="work.id"
                (pendingUploads)="pendingUploads = $event"
              ></app-work-portfolio>
              <div
                cdkDropList
                cdkDropListOrientation="vertical"
                (cdkDropListDropped)="
                  dropSpecifications(work.id, work.specifications, $event)
                "
                [cdkDropListDisabled]="!(work?.specifications?.length! > 1)"
              >
                <app-work-specification
                  cdkDrag
                  cdkDragLockAxis="y"
                  class="block relative mb-4 sm:pb-4 border-b border-transparent"
                  *ngFor="
                    let specification of work.specifications;
                    let last = last;
                    trackBy: trackByFn
                  "
                  [specification]="specification"
                  [application_id]="application_id"
                  [work_id]="work.id"
                  [ngClass]="{
                    'border-gray-100 ': !last
                  }"
                >
                  <div class="absolute bottom-0 left-0 pb-4 space-y-4">
                    <div
                      cdkDragHandle
                      class="cursor-move text-gray-300 hover:text-gray-600 transition-colors duration-75"
                      [ngClass]="{
                        'text-opacity-0 hover:text-opacity-0 pointer-events-none':
                          work.specifications.length <= 1
                      }"
                    >
                      <svg
                        width="19px"
                        height="36px"
                        viewBox="0 0 19 36"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <g
                          stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd"
                        >
                          <path
                            d="M19,32 L19,36 L15.2,36 L15.2,32 L19,32 Z M11.4,32 L11.4,36 L7.6,36 L7.6,32 L11.4,32 Z M3.8,32 L3.8,36 L0,36 L0,32 L3.8,32 Z M19,24 L19,28 L15.2,28 L15.2,24 L19,24 Z M11.4,24 L11.4,28 L7.6,28 L7.6,24 L11.4,24 Z M3.8,24 L3.8,28 L0,28 L0,24 L3.8,24 Z M19,16 L19,20 L15.2,20 L15.2,16 L19,16 Z M11.4,16 L11.4,20 L7.6,20 L7.6,16 L11.4,16 Z M3.8,16 L3.8,20 L0,20 L0,16 L3.8,16 Z M3.8,8 L3.8,12 L0,12 L0,8 L3.8,8 Z M11.4,8 L11.4,12 L7.6,12 L7.6,8 L11.4,8 Z M19,8 L19,12 L15.2,12 L15.2,8 L19,8 Z M19,0 L19,4 L15.2,4 L15.2,0 L19,0 Z M11.4,0 L11.4,4 L7.6,4 L7.6,0 L11.4,0 Z M3.8,0 L3.8,4 L0,4 L0,0 L3.8,0 Z"
                            id="Rectangle-Copy-3"
                            fill="currentColor"
                          ></path>
                        </g>
                      </svg>
                    </div>
                    <button
                      (click)="deleteSpecification(specification.id)"
                      class="appearance-none leading-none text-xs font-mono underline text-gray-400 hover:text-gray-600"
                      [innerText]="
                        'application-form.buttons.delete-specification'
                          | translate
                      "
                    ></button>
                  </div>
                </app-work-specification>
              </div>
              <button
                (click)="
                  addPortfolioSpecification(work.id, work.specifications.length)
                "
                class="block w-full md:w-auto ml-auto border border-black font-mono text-base leading-none py-3 px-6 rounded-xl"
                [innerText]="
                  'application-form.buttons.add-work-specification' | translate
                "
              ></button>
            </div>
          </div>
          <ng-template #noPortfolioWork>
            <button
              (click)="addWork(true)"
              class="whitespace-nowrap w-full sm:my-4 py-6 lg:py-12 px-12 mb-4 border border-transparent font-mono rounded-3xl text-white bg-black hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 disabled:opacity-50"
              [innerText]="
                'application-form.buttons.add-pdf-portfolio' | translate
              "
            ></button>
          </ng-template>
        </div>
        <div
          class="h-px lg:h-auto lg:w-px my-8 lg:my-0 flex-none bg-gray-200"
        ></div>
        <div
          class="flex-auto w-1/2"
          *ngIf="singleWorks$ | async as singleWorksObject"
        >
          <div
            *ngIf="
              singleWorksObject?.data?.works?.length! > 0;
              else noSingleWork
            "
            cdkDropList
            cdkDropListOrientation="vertical"
            cdkDragLockAxis="y"
            (cdkDropListDropped)="
              dropWorks(singleWorksObject?.data?.works, $event)
            "
            [cdkDropListDisabled]="
              !(singleWorksObject?.data?.works?.length! > 1)
            "
          >
            <div
              cdkDrag
              cdkDragLockAxis="y"
              class="relative mb-4 sm:my-4 sm:pb-4 border-gray-200"
              [ngClass]="{
                'border-b': !last
              }"
              *ngFor="
                let work of (singleWorks$ | async)?.data?.works;
                let last = last;
                trackBy: trackByFn
              "
            >
              <app-work-files
                [files]="work.files"
                [application_id]="application_id"
                [work_id]="work.id"
                (pendingUploads)="pendingUploads = $event"
              ></app-work-files>
              <app-work-specification
                *ngFor="
                  let specification of work.specifications;
                  trackBy: trackByFn
                "
                [specification]="specification"
                [application_id]="application_id"
                [work_id]="work.id"
              ></app-work-specification>
              <div class="absolute bottom-0 left-0 pb-4 space-y-4">
                <div
                  cdkDragHandle
                  class="cursor-move text-gray-300 hover:text-gray-600 transition-colors duration-75"
                >
                  <svg
                    width="19px"
                    height="36px"
                    viewBox="0 0 19 36"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <path
                        d="M19,32 L19,36 L15.2,36 L15.2,32 L19,32 Z M11.4,32 L11.4,36 L7.6,36 L7.6,32 L11.4,32 Z M3.8,32 L3.8,36 L0,36 L0,32 L3.8,32 Z M19,24 L19,28 L15.2,28 L15.2,24 L19,24 Z M11.4,24 L11.4,28 L7.6,28 L7.6,24 L11.4,24 Z M3.8,24 L3.8,28 L0,28 L0,24 L3.8,24 Z M19,16 L19,20 L15.2,20 L15.2,16 L19,16 Z M11.4,16 L11.4,20 L7.6,20 L7.6,16 L11.4,16 Z M3.8,16 L3.8,20 L0,20 L0,16 L3.8,16 Z M3.8,8 L3.8,12 L0,12 L0,8 L3.8,8 Z M11.4,8 L11.4,12 L7.6,12 L7.6,8 L11.4,8 Z M19,8 L19,12 L15.2,12 L15.2,8 L19,8 Z M19,0 L19,4 L15.2,4 L15.2,0 L19,0 Z M11.4,0 L11.4,4 L7.6,4 L7.6,0 L11.4,0 Z M3.8,0 L3.8,4 L0,4 L0,0 L3.8,0 Z"
                        id="Rectangle-Copy-3"
                        fill="currentColor"
                      ></path>
                    </g>
                  </svg>
                </div>
                <button
                  class="appearance-none leading-none text-xs font-mono underline text-gray-400 hover:text-gray-600"
                  [innerText]="
                    'application-form.buttons.delete-work' | translate
                  "
                  (click)="deleteWork(work.id)"
                ></button>
              </div>
            </div>
            <button
              (click)="addWork()"
              class="block w-full md:w-auto ml-auto border border-black font-mono text-base leading-none py-3 px-6 rounded-xl"
              [innerText]="
                'application-form.buttons.add-single-work' | translate
              "
            ></button>
          </div>
          <ng-template #noSingleWork>
            <button
              (click)="addWork()"
              class="whitespace-nowrap w-full sm:my-4 py-6 lg:py-12 px-12 mb-4 border border-transparent font-mono rounded-3xl text-white bg-black hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 disabled:opacity-50"
              [innerText]="
                'application-form.buttons.add-works-separately' | translate
              "
            ></button>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="xl:container container--default mx-auto">
      <div
        class="flex-auto font-mono text-sm grid grid-cols-1 lg:grid-cols-application items-baseline gap-x-4 gap-y-3 sm:gap-y-5 lg:gap-y-7"
      >
        <label
          class="col-start-1"
          for="statement"
          [innerText]="'snippets.statement' | translate"
        ></label>
        <div class="lg:col-span-2 flex items-baseline mb-3">
          <textarea
            id="statement"
            formControlName="statement"
            name="statement"
            rows="10"
            class="font-sans text-base rounded-none relative block w-full p-2 border-solid bg-gray-100 border-b border-t-0 border-r-0 border-l-0 border-transparent placeholder-gray-500 text-black focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10"
          ></textarea>
          <div
            class="whitespace-nowrap pl-3 text-xs text-gray-800 transition-colors"
            [ngClass]="
              statement?.value?.length > statementMaxLength * 0.95
                ? statement?.value?.length > statementMaxLength
                  ? 'text-red-600'
                  : 'text-yellow-600'
                : (statement?.touched && statement?.value?.length) >=
                  statementMinLenght
                ? 'text-green-500'
                : 'text-gray-800'
            "
          >
            {{ statement?.value?.length || 0 }}/{{ statementMaxLength }}
            {{ "defaults.characters" | translate }}
          </div>
        </div>
        <label
          class="col-start-1"
          for="residency"
          [innerText]="'defaults.residency-single' | translate | titlecase"
        ></label>
        <div class="bg-gray-100 p-4 font-sans text-base mb-3">
          <div>
            Wenn ich den Berlin Art Prize gewinne, würde ich gerne an der
            Residency teilnehmen:
          </div>
          <div class="relative flex items-start mt-3 mb-4">
            <input
              id="residency"
              formControlName="residency"
              name="residency"
              type="checkbox"
              class="focus:ring-gray-500 h-5 w-5 text-green-500 border-black rounded-none"
            />
            <label for="residency" class="ml-3"
              >{{ "defaults.yes" | translate | titlecase }}
              <span class="text-gray-500">
                ({{
                  "application-form.has-no-influence-on-the-jury" | translate
                }})
              </span>
            </label>
          </div>
        </div>

        <label
          class="col-start-1"
          for="database"
          [innerText]="'defaults.database-single' | translate | titlecase"
        ></label>
        <div class="bg-gray-100 p-4 font-sans text-base mb-3">
          <div>
            Mein Portfolio darf in das Archiv des Berlin Art Prize aufgenommen
            werden:
          </div>
          <div class="relative flex items-start mt-3 mb-4">
            <input
              id="database"
              formControlName="database"
              name="database"
              type="checkbox"
              class="focus:ring-gray-500 h-5 w-5 text-green-500 border-black rounded-none"
            />
            <label for="database" class="ml-3"
              >{{ "defaults.yes" | translate | titlecase }}
              <span class="text-gray-500">
                ({{
                  "application-form.has-no-influence-on-the-jury" | translate
                }})
              </span>
            </label>
          </div>
        </div>
        <label
          class="col-start-1"
          for="disclaimer"
          [innerText]="'defaults.disclaimer-single' | translate | titlecase"
        ></label>
        <div class="bg-gray-100 p-4 font-sans text-base mb-3">
          <div>
            <p class="mb-5">
              Ich habe die Bewerbunsgrichtlinien des Berlin Art Prize gelesen
              und akzeptiere sie. Ich bestätige, dass ich seit mindestens sechs
              Monaten in Berlin arbeite und lebe. Ich versichere, dass alle
              Arbeiten, mit denen ich mich bewerbe, von mir stammen und sie
              zwischen dem 14.–23. Juni 2019 für einen Atelierbesuch der Jury
              verfügbar sind.
            </p>
            <p class="mb-5">
              Sollte ich für den Berlin Art Prize nominiert werden, werde ich
              meine für die Einzelausstellung ausgewählten Arbeiten zwischen dem
              23.–25. August 2019 anliefern und zwischen dem 29. September–1.
              Oktober wieder abholen.
            </p>
            <p class="mb-5">
              Ich bestätige auch, dass ich es im Falle einer Nominierung für den
              Berlin Art Prize 2019 der Jury und dem Organisationsteam des
              Berlin Art Prize e.V. überlasse, zu welchem der neun Projekträume
              ich für eine Einzelausstellung zugeordnet werde.
            </p>
          </div>
          <div class="relative flex items-start mt-3 mb-4">
            <input
              id="disclaimer"
              formControlName="disclaimer"
              name="disclaimer"
              type="checkbox"
              class="focus:ring-gray-500 h-5 w-5 text-green-500 border-black rounded-none"
            />
            <label for="disclaimer" class="ml-3"
              >Ich stimme den Bedingungen des Berlin Art Prize zu.
            </label>
          </div>
        </div>
        <label
          class="col-start-1"
          for="payment"
          [innerText]="'defaults.payment-single' | translate | titlecase"
        ></label>
        <div class="bg-gray-100 p-4 font-sans text-base">
          <p class="mb-5">
            Um die Einreichung abzuschließen benötigen wir einen Nachweis über
            die Bezahlung der Teilnahmegebühr. Bitte lade in dem Feld rechts ein
            Screenshot/PDF der bereits getätigten Überweisung hoch.
          </p>
          <p class="mb-5 pl-5">
            Betrag: 10,00 Euro<br />
            <br />
              PayPal: paypal@berlinartprize.com<br />
            Berlin Art Prize e.V.<br />
            Bank: EthikBank<br />
            BLZ: 83094495<br />
            Kontonummer: 3237516<br />
            BIC: GENO DE F1 ETK<br />
            IBAN: DE84830944950003237516<br />
            <br />
            Verwendungszweck:
            <span class="font-medium"
              >Code {{ id?.value | uppercase | slice: 0:5 }} BAP
              {{ edition?.value.name }}</span
            >
          </p>
        </div>
        <div
          dropzone
          (hovered)="toggleHover($event)"
          (dropped)="onPaymentDrop($event)"
          [disabled]="payment?.valid || false"
          [ngClass]="{
            'ring-1 ring-green-600': payment?.valid,
            'ring-1 ring-red-600': !payment?.valid && !isHovering,
            'ring-2 ring-gray-800': !payment?.valid && isHovering
          }"
          class="bg-gray-100 text-gray-800 p-4 self-stretch flex flex-col items-center justify-center ring-0 transition-shadow"
        >
          <app-upload-task
            class="flex-none flex items-center justify-center h-48 w-48"
            *ngFor="let file of paymentFileToUpload; let index = index"
            [file]="file"
            [path_prefix]="payment_path_prefix"
            [pdf]="true"
            (uploaded)="finishPaymentTask(paymentFileToUpload, index, $event)"
          >
            <div class="spinner text-gray-800"></div>
          </app-upload-task>

          <div
            *ngIf="!payment?.valid && paymentFileToUpload.length < 1"
            (click)="fileInput.click()"
            class="flex flex-col items-center justify-center cursor-pointer"
          >
            <svg
              class="-ml-4 mt-2 mb-5"
              width="68px"
              height="66px"
              viewBox="0 0 68 66"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1116.000000, -1866.000000)">
                  <rect
                    stroke="currentColor"
                    fill="transparent"
                    transform="translate(1149.000000, 1899.000000) scale(-1, 1) translate(-1149.000000, -1899.000000) "
                    x="908.5"
                    y="1714.5"
                    width="481"
                    height="369"
                  ></rect>
                  <g transform="translate(1116.000000, 1866.000000)">
                    <g transform="translate(13.000000, 0.000000)">
                      <path
                        d="M52.6262,63.0519 L2.5852,63.0519 L2.5852,2.5859 L42.2012,2.5859 L42.2012,11.9689 C42.2012,12.5449 42.6672,13.0099 43.2432,13.0099 L52.6262,13.0099 L52.6262,63.0519 Z M44.2862,4.0599 L51.1512,10.9259 L44.2862,10.9259 L44.2862,4.0599 Z M54.4062,11.2309 L43.9802,0.8069 C43.7932,0.6179 43.5312,0.4999 43.2432,0.4999 L1.5422,0.4999 C0.9662,0.4999 0.5002,0.9669 0.5002,1.5429 L0.5002,64.0939 C0.5002,64.6709 0.9662,65.1369 1.5422,65.1369 L53.6692,65.1369 C54.2452,65.1369 54.7112,64.6709 54.7112,64.0939 L54.7112,11.9689 C54.7112,11.6799 54.5942,11.4179 54.4062,11.2309 L54.4062,11.2309 Z"
                        id="Fill-1"
                        fill="currentColor"
                      ></path>
                      <path
                        d="M52.6262,63.0519 L2.5852,63.0519 L2.5852,2.5859 L42.2012,2.5859 L42.2012,11.9689 C42.2012,12.5449 42.6672,13.0099 43.2432,13.0099 L52.6262,13.0099 L52.6262,63.0519 Z M44.2862,4.0599 L51.1512,10.9259 L44.2862,10.9259 L44.2862,4.0599 Z M54.4062,11.2309 L43.9802,0.8069 C43.7932,0.6179 43.5312,0.4999 43.2432,0.4999 L1.5422,0.4999 C0.9662,0.4999 0.5002,0.9669 0.5002,1.5429 L0.5002,64.0939 C0.5002,64.6709 0.9662,65.1369 1.5422,65.1369 L53.6692,65.1369 C54.2452,65.1369 54.7112,64.6709 54.7112,64.0939 L54.7112,11.9689 C54.7112,11.6799 54.5942,11.4179 54.4062,11.2309 Z"
                        id="Stroke-3"
                        fill="currentColor"
                      ></path>
                    </g>
                    <polygon
                      fill="currentColor"
                      points="26.4999766 22.273 24.0652265 24.708501 28.4275027 29.0720523 30.9636228 31.2028585 30.9129378 31.3549253 26.0432506 31.0509787 3.86340959e-12 31.0509787 3.86340959e-12 34.4950213 26.0432506 34.4950213 30.9129378 34.1910747 30.9636228 34.3429545 28.4275027 36.4737606 24.0652265 40.837499 26.4999766 43.273 37 32.7730935"
                    ></polygon>
                  </g>
                </g>
              </g>
            </svg>
            <div
              class="text-center"
              [innerText]="
                'application-form.buttons.add-payment-screenshot' | translate
              "
            ></div>
            <input
              class="hidden"
              type="file"
              id="upload-file"
              name="upload-file"
              accept=".pdf"
              (change)="onPaymentFileSelect($event)"
              #fileInput
            />
          </div>
          <div
            *ngIf="payment?.valid && payment?.value"
            class="group cursor-move relative flex p-4 items-end"
          >
            <div>
              <svg
                class="h-20 w-auto"
                width="51px"
                height="71px"
                viewBox="0 0 51 71"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <polygon
                    id="Fill-1"
                    fill="#000000"
                    points="15.7882114 0 15.8916148 0.106408033 0 16.4613227 0 71 51 71 51 0"
                  ></polygon>
                  <text
                    id="PDF"
                    fill="#FFFFFF"
                    text-anchor="middle"
                    font-size="20"
                    alignment-baseline="central"
                  >
                    <tspan x="25" y="57" class="font-condensed">PDF</tspan>
                  </text>
                </g>
              </svg>
            </div>
            <div class="ml-4">
              <div [innerText]="payment?.value.originalname"></div>
              <div
                class="text-gray-800"
                [innerText]="payment?.value.size! | filesize"
              ></div>
            </div>
            <button
              (click)="deletePayment(payment?.value.id)"
              class="appearance-none opacity-0 group-hover:opacity-100 transition-all absolute top-1 right-1 text-xs font-mono bg-black hover:bg-red-600 cursor-pointer text-white w-5 h-5 leading-5 rounded-full text-center"
            >
              X
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="xl:container container--default mx-auto">
      <a
        [routerLink]="['fullscreen']"
        class="flex items-center justify-between px-12 py-6 rounded-xl whitespace-nowrap bg-black hover:bg-gray-900 text-white leading-10 font-mono lg:whitespace-nowrap"
      >
        <span
          [innerText]="'application-form.buttons.show-preview' | translate"
        ></span>
        <svg
          width="40px"
          height="40px"
          viewBox="0 0 40 40"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="Group"
              transform="translate(1.000000, 1.000000)"
              stroke="currentColor"
            >
              <line x1="38" y1="0" x2="27.5" y2="10.5" id="Stroke-1"></line>
              <line
                x1="38"
                y1="27"
                x2="27.5"
                y2="37.5"
                id="Stroke-1-Copy"
                transform="translate(32.500000, 32.500000) scale(1, -1) translate(-32.500000, -32.500000) "
              ></line>
              <line
                x1="10.5"
                y1="0.5"
                x2="0"
                y2="11"
                id="Stroke-1"
                transform="translate(5.500000, 5.500000) scale(1, -1) translate(-5.500000, -5.500000) "
              ></line>
              <line
                x1="10.5"
                y1="27.5"
                x2="0"
                y2="38"
                id="Stroke-1-Copy-2"
              ></line>
              <polyline
                id="Stroke-3"
                points="29 0.327721866 38 0 37.6722781 9"
              ></polyline>
              <polyline
                id="Stroke-5"
                points="9 37.6722781 0 38 0.327721866 29"
              ></polyline>
              <polyline
                id="Stroke-9"
                points="0.327721866 9 0 0 9 0.327721866"
              ></polyline>
              <polyline
                id="Stroke-11"
                points="37.6722781 29 38 38 29 37.6722781"
              ></polyline>
              <polygon
                id="Stroke-15"
                points="10 28 28 28 28 10 10 10"
              ></polygon>
            </g>
          </g>
        </svg>
      </a>
    </div>
    <div
      class="my-8 p-4 text-center text-gray-400"
      *ngIf="updated_at?.value"
      [innerText]="
        'snippets.updated-some-time-ago'
          | translate: { time: updated_at?.value | timePassed }
      "
    ></div>
  </form>

  <!-- <pre class="p-1 bg-red-50 text-xs overflow-hidden">
    {{ form.value | json }}
    {{ form.valid | json }}
    {{ name?.errors | json }}
  </pre> -->

  <footer
    class="container--default flex items-end md:items-baseline justify-between"
  >
    <div class="text-headline">Berlin Art Prize</div>
    <div
      class="flex flex-col md:flex-row justify-end space-y-3 md:space-x-3 md:space-y-0 items-end"
    >
      <div class="space-x-16 flex mt-16 md:mt-0 md:mr-16 order-2 md:order-none">
        <a class="font-mono hover:underline" tabindex="-1" href="">AGB</a>
        <a class="font-mono hover:underline" tabindex="-1" href=""
          >Datenschutz</a
        >
      </div>
      <button
        (click)="saveAndClose()"
        class="bg-gray-300 text-black font-mono text-base leading-none py-3 px-6 rounded-xl"
      >
        Speichern und schließen
      </button>
      <button
        (click)="finalizeAndClose()"
        class="bg-gray-300 text-black font-mono text-base leading-none py-3 px-6 rounded-xl disabled:opacity-30 disabled:pointer-events-none"
        [disabled]="!form.valid"
        [ngClass]="{
          'bg-green-400': form.valid
        }"
      >
        Fertig! Absenden
      </button>
    </div>
  </footer>
</div>
