<ng-container *ngIf="downloadURL | async; let url; else: loading">
  <ng-container *ngIf="!video">
    <pdf-viewer
      *ngIf="pdf"
      class="block h-full w-auto"
      [src]="url"
      [show-all]="false"
      [page]="1"
      [original-size]="false"
      [autoresize]="true"
      [zoom-scale]="'page-height'"
    ></pdf-viewer>
    <img
      *ngIf="!pdf"
      class="h-full w-auto inline-block"
      [src]="url"
      [attr.type]="mimetype"
    />
  </ng-container>
  <ng-container *ngIf="video">
    <video
      *ngIf="!showControls"
      class="h-full w-auto inline-block"
      preload="metadata"
      [src]="url"
      [controls]="showControls"
    >
      Your browser does not support the video tag.
    </video>
    <vg-player *ngIf="showControls">
      <vg-controls [vgAutohide]="true" [vgAutohideTime]="3">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display
          vgProperty="current"
          vgFormat="mm:ss"
        ></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
      <video [vgMedia]="$any(media)" #media preload="auto">
        <source [src]="url" [attr.type]="mimetype" />
      </video>
    </vg-player>
  </ng-container>
</ng-container>
<ng-template #loading>
  <div
    class="flex transition-colors items-center justify-center relative"
    [ngClass]="[
      error ? 'bg-red-200 text-red-600' : 'bg-gray-300 text-gray-800',
      video ? 'h-20 w-28' : 'h-20 w-16'
    ]"
  >
    <div
      class="spinner transition-opacity"
      [ngClass]="error ? 'opacity-0' : 'opacity-1'"
    ></div>
    <div
      class="absolute bottom-0 right-0 p-1 text-base font-mono transition-opacity"
      [ngClass]="error ? 'opacity-1' : 'opacity-0'"
    >
      404
    </div>
  </div>
</ng-template>
