<div
  dropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [disabled]="(files?.length || 0) >= maxFiles"
  [ngClass]="{
    'ring-2 ring-gray-800': isHovering
  }"
  class="h-24 lg:h-28 bg-gray-100 relative ring-transparent ring-0 transition-shadow"
>
  <div
    class="absolute inset-0 p-2 lg:p-4 space-x-2 flex flex-row overflow-x-scroll"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="reorderFiles(files, $event)"
    [cdkDropListDisabled]="!((files?.length || 0) > 1)"
  >
    <div
      cdkDrag
      *ngFor="let file of files; trackBy: trackByKeyFn"
      class="group flex-none h-20 bg-gray-200 cursor-move relative"
    >
      <app-image
        [key]="file.key"
        [mimetype]="file.mimetype"
        [width]="200"
        [height]="200"
        [title]="file.originalname"
      ></app-image>
      <button
        (click)="deleteFile(file.id)"
        class="appearance-none opacity-0 group-hover:opacity-100 transition-all absolute top-1 right-1 text-xs font-mono bg-black hover:bg-red-600 cursor-pointer text-white w-5 h-5 leading-5 rounded-full text-center"
      >
        X
      </button>
    </div>
    <!-- <div cdkDrag class="group flex-none h-16 bg-gray-200 cursor-move relative">
      <img
        src="http://placekitten.com/g/300/240"
        width="300"
        height="240"
        class="h-full w-auto inline-block"
      />
      <div
        class="opacity-0 group-hover:opacity-100 transition-all absolute top-1 right-1 text-xs font-mono bg-black hover:bg-red-600 cursor-pointer text-white w-5 h-5 leading-5 rounded-full text-center"
      >
        X
      </div>
    </div> -->

    <app-upload-task
      class="flex-none flex items-center justify-center text-3xl h-20 w-16 bg-gray-300 text-white"
      *ngFor="let file of filesToUpload; let index = index"
      [file]="file"
      [path_prefix]="path_prefix"
      (uploaded)="finishTask(filesToUpload, index, $event)"
    >
      <div class="spinner text-gray-800"></div>
    </app-upload-task>

    <button
      *ngIf="(files?.length || 0) < maxFiles"
      class="flex-none flex items-center justify-center text-3xl h-20 w-16 bg-black text-white cursor-pointer"
      (click)="fileInput.click()"
    >
      +
    </button>
    <input
      class="hidden"
      type="file"
      id="upload-file"
      name="upload-file"
      accept="image/*,video/*"
      multiple
      (change)="onFileSelect($event)"
      #fileInput
    />

    <div class="flex-none w-2"></div>
  </div>
  <div
    class="absolute z-0 bottom-0 right-0 p-1 bg-gray-100 bg-opacity-75 backdrop-blur pointer-events-none select-none whitespace-nowrap pl-3 text-xs font-mono leading-none text-gray-800 transition-colors"
    [ngClass]="
      (files?.length || 0) > maxFiles ? 'text-red-600' : 'text-gray-800'
    "
  >
    {{ files?.length || 0 }}/{{ maxFiles }}
    {{ "defaults.file-multi" | translate }}
  </div>
</div>

<form
  [formGroup]="form"
  (ngSubmit)="addVideo()"
  class="relative font-mono text-sm"
>
  <div class="col-span-4">
    <button
      (click)="toggleOptionalVideoFields()"
      class="text-left appearance-none text-xs uppercase leading-none text-gray-800 py-2 flex items-center justify-end"
    >
      <span
        class="px-4"
        [innerHtml]="'snippets.add-optional-video-url' | translate"
      >
      </span>
      <svg
        class="ml-4 transition-transform transform-gpu"
        [ngClass]="[
          showVideoFields ? 'text-blue-600 scale-y-100' : '-scale-y-100'
        ]"
        width="16px"
        height="8px"
        viewBox="0 0 16 8"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <title>Path 7</title>
        <g
          id="Page-1"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <polyline
            id="Path-7"
            stroke="currentColor"
            transform="translate(8.000000, 4.000000) rotate(-90.000000) translate(-8.000000, -4.000000) "
            points="4 -3 12 4 4 11"
          ></polyline>
        </g>
      </svg>
    </button>
  </div>
  <div
    class="flex items-center space-x-1 bg-gray-800 p-1 rounded-full mb-4"
    [ngClass]="{ hidden: !showVideoFields }"
  >
    <input
      id="video_url-{{ work_id }}"
      formControlName="video_url"
      name="video_url"
      type="text"
      [placeholder]="'defaults.url-single' | translate | titlecase"
      class="appearance-none rounded-tl-full rounded-bl-full relative block w-full py-2 px-4 border-solid bg-white border-b border-t-0 border-r-0 border-l-0 border-transparent font-mono placeholder-gray-500 text-black focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 text-sm"
      [ngClass]="{
        'ring-1 ring-red-500': video_url?.invalid
      }"
    />

    <input
      id="video_password-{{ work_id }}"
      formControlName="video_password"
      name="video_password"
      type="text"
      [placeholder]="'defaults.password-single' | translate | titlecase"
      class="appearance-none rounded-tr-full rounded-br-full relative block w-full py-2 px-4 border-solid bg-white border-b border-t-0 border-r-0 border-l-0 border-transparent font-mono placeholder-gray-500 text-black focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 text-sm"
    />
    <button class="text-headline leading-none px-2 text-white" type="submit">
      +
    </button>
  </div>
</form>
