<div class="h-28 bg-gray-100 relative">
  <div
    class="absolute inset-0 p-2 lg:p-4 space-x-2 flex flex-row overflow-x-scroll"
    cdkDropList
    cdkDropListOrientation="horizontal"
  >
    <div cdkDrag class="flex-none h-20 w-16 bg-gray-200"></div>
    <div cdkDrag class="flex-none h-20 w-16 bg-gray-200"></div>
    <div cdkDrag class="flex-none h-20 w-16 bg-gray-200"></div>
    <div cdkDrag class="flex-none h-20 w-16 bg-gray-200"></div>

    <button
      class="flex-none flex items-center justify-center text-3xl h-20 w-16 bg-black text-white cursor-pointer"
    >
      +
    </button>
    <div class="flex-none w-2"></div>
  </div>
</div>
