<app-modal #modalComponent>
  <div class="sm:flex sm:items-start">
    <div class="">
      <h3
        class="text-headline"
        id="modal-headline"
        [innerHTML]="
          'modals.close-round.headline' | translate: { round: data.level + 1 }
        "
      ></h3>
      <div class="mt-2">
        <p
          class="text-sm text-gray-800"
          [innerHTML]="
            'modals.close-round.intro'
              | translate
                : {
                    round: data.level + 1,
                    applications: data.applications.length
                  }
          "
        ></p>
        <div
          *ngFor="let application of data.applications; let index = index"
          class="flex justify-between items-center p-4 max-h-48 overflow-auto bg-gray-100"
        >
          <span>{{ application.id + "" | slice: 0:5 | uppercase }}</span>
          <a
            [routerLink]="['/', 't', 'applications', application.id]"
            class="underline"
            (click)="close()"
            [innerHtml]="'actions.show' | translate"
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 sm:mt-4 sm:flex">
    <button
      (click)="confirmClosing()"
      type="button"
      class="inline-flex justify-center w-full rounded-xl border border-transparent px-6 py-3 bg-red-600 text-xs sm:text-sm md:text-base font-mono text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:w-auto sm:text-sm"
      [innerHTML]="'actions.confirm' | translate | titlecase"
    ></button>
    <button
      (click)="close()"
      type="button"
      class="mt-3 w-full inline-flex justify-center rounded-xl border border-gray-800 px-6 py-3 bg-white text-xs sm:text-sm md:text-base font-mono text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
      [innerHTML]="'actions.cancel' | translate | titlecase"
    ></button>
  </div>
</app-modal>
