<div class="min-h-screen flex flex-col">
  <div
    class="container--default sticky top-0 inset-x-0 flex items-center justify-between z-10 backdrop-blur bg-white bg-opacity-80 border-b border-gray-300"
  >
    <div class="text-headline">
      {{
        "snippets.welcome-user"
          | translate: { user: (user$ | async)?.displayName || "…" }
      }}
    </div>
  </div>
  <div class="flex-auto md:flex max-w-full">
    <!-- APPLICATIONS -->
    <div
      id="applications"
      class="container--default flex-auto w-full md:flex-shrink border-b md:border-b-0 md:border-r border-gray-300 pb-12 mb-2"
    >
      <div *ngIf="applications$ | async as applicationsObject">
        <div class="md:px-6 font-mono">
          {{
            applicationsObject.data?.applications_aggregate?.aggregate?.count ||
              0
          }}
          {{
            (applicationsObject.data?.applications_aggregate?.aggregate
              ?.count === 1
              ? "defaults.application-single"
              : "defaults.application-multi"
            ) | translate
          }}
        </div>
        <ng-container
          *ngIf="
            applicationsObject.data?.applications_aggregate?.aggregate?.count ||
              0 > 0;
            else noApplications
          "
        >
          <div
            *ngFor="let application of applicationsObject.data?.applications"
            class="my-1 bg-gray-100 xl:grid grid-cols-5 transition-colors duration-200"
            [ngClass]="{
              'bg-green-50': application.ready
            }"
          >
            <div class="col-span-2 py-3 sm:py-5 px-3 sm:px-5 lg:px-7">
              <div class="text-3xl">
                <span class="text-xs font-mono uppercase text-gray-800">
                  {{ "defaults.code" | translate }}:
                </span>
                <span
                  class="uppercase"
                  [innerHtml]="application.id | slice: 0:5"
                ></span>
              </div>
              <div class="text-xs mt-4 lg:mt-6">
                <div
                  class="font-mono uppercase text-gray-800"
                  [ngClass]="{
                    'text-red-800':
                      application.files_aggregate.aggregate?.count! < 1
                  }"
                >
                  {{ application.files_aggregate.aggregate?.count }}
                  {{
                    (application.files_aggregate.aggregate?.count === 1
                      ? "defaults.file-single"
                      : "defaults.file-multi"
                    ) | translate
                  }}
                  ({{
                    application.files_aggregate.aggregate?.sum?.size | filesize
                  }})
                </div>
              </div>
            </div>
            <div class="col-span-3 py-3 sm:py-5 px-3 sm:px-5 lg:px-7">
              <div
                class="grid grid-cols-7 lg:grid-cols-4 gap-6 items-baseline border-b border-gray-300 py-2 sm:py-4 font-mono"
              >
                <div
                  class="col-span-2 lg:col-span-1 text-right text-xs uppercase text-gray-800"
                >
                  {{ "application.group_application" | translate }}:
                </div>
                <div
                  class="cols-span-5 lg:col-span-3"
                  [innerHtml]="
                    (application.group ? 'defaults.yes' : 'defaults.no')
                      | translate
                  "
                ></div>
              </div>
              <div
                class="grid grid-cols-7 lg:grid-cols-4 gap-6 items-baseline border-b border-gray-300 py-2 sm:py-4 font-mono"
              >
                <div
                  class="col-span-2 lg:col-span-1 text-right text-xs uppercase text-gray-800"
                >
                  {{ "application.status" | translate }}:
                </div>
                <div class="cols-span-5 lg:col-span-3 text-orange-500">
                  <span
                    [innerHtml]="
                      'application-state.' + (application.state || 'unknown')
                        | translate
                    "
                    [ngClass]="{
                      'text-gray-600': application.state === 'pristine',
                      'text-red-600': application.state == 'not-payed',
                      'text-green-500': application.state == 'complete'
                    }"
                  >
                  </span>
                </div>
              </div>
              <div class="flex justify-end mt-6 space-x-4 items-center">
                <ng-container
                  *ngIf="
                    (editionState$ | async)?.data?.editions
                      | last as editionState;
                    else editionStateLoading
                  "
                >
                  <ng-container
                    *ngIf="
                      !application.locked &&
                        editionState?.state === 'submission';
                      else locked
                    "
                  >
                    <a
                      [routerLink]="['/', 'u', 'applications', application.id]"
                      class="bg-black text-white font-mono text-base leading-none py-3 px-6 rounded-xl"
                      [innerHtml]="'defaults.edit' | translate"
                    ></a>
                    <button
                      class="underline font-mono leading-none"
                      (click)="deleteApplication(application.id)"
                      [innerHtml]="'defaults.delete' | translate"
                    ></button>
                  </ng-container>
                  <ng-template #locked>
                    <button
                      *ngIf="editionState?.state === 'submission'"
                      class="text-black bg-gray-400 bg-opacity-50 hover:bg-gray-500 font-mono text-base leading-none py-3 px-6 rounded-xl"
                      (click)="unlockApplication(application.id)"
                      [innerHtml]="'defaults.unlock' | translate"
                    ></button>
                  </ng-template>
                </ng-container>
                <ng-template #editionStateLoading>
                  <div
                    class="text-black bg-gray-200 bg-opacity-50 h-10 w-32 animate-pulse font-mono text-base leading-none py-3 px-6 rounded-xl"
                  ></div>
                </ng-template>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noApplications>
          <div class="my-1 h-48 bg-gray-100 flex items-center justify-center">
            <span
              class="text-gray-300"
              [innerHtml]="'snippets.no-applications' | translate"
            ></span>
          </div>
        </ng-template>
      </div>
      <button
        *ngIf="
          ((editionState$ | async)?.data?.editions | last)?.state ===
          'submission'
        "
        (click)="addApplication()"
        class="bg-black text-white font-mono text-base leading-none mt-8 py-3 px-6 w-full rounded-xl"
        [innerHtml]="'snippets.add-application' | translate"
      ></button>
    </div>
    <!-- STATUS AND UPDATES -->
    <div class="container--default flex-auto max-w-full md:flex-shrink-0">
      <!-- STATUS -->
      <div
        *ngIf="
          ((editionState$ | async)?.data?.editions | last)
            ?.state as editionState;
          else stateLoading
        "
        id="status"
        class="md:w-80 lg:w-96 mb-16 h-32"
        [ngSwitch]="editionState"
      >
        <div
          *ngSwitchCase="'open'"
          class="relative group cursor-pointer z-0 bg-green-500 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
        >
          <div
            class="text-headline"
            [innerHtml]="
              'edition.status--application-starts-in'
                | translate
                  : { time: (edition$ | async)?.application_start | timePassed }
            "
          ></div>
        </div>
        <div
          *ngSwitchCase="'submission'"
          class="relative group cursor-pointer z-0 bg-green-500 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
        >
          <div
            class="text-headline"
            [innerHtml]="
              'edition.status--application-ends-in'
                | translate
                  : { time: (edition$ | async)?.application_end | timePassed }
            "
          ></div>
          <!-- <a
            class="inline-block mt-4 font-mono text-black text-opacity-70"
            [routerLink]="[]"
            ><span class="group-hover:underline">Einstellungen</span> &rarr;</a
          > -->
          <div class="absolute font-mono top-0 right-full pr-1 md:pr-2">!</div>
        </div>

        <div
          *ngSwitchCase="'rating'"
          class="relative group cursor-pointer z-0 bg-orange-400 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
        >
          <div
            class="text-headline"
            [innerHtml]="'edition.status--rating' | translate"
          ></div>
          <div class="absolute font-mono top-0 right-full pr-1 md:pr-2">!</div>
        </div>
        <div
          *ngSwitchCase="'closed'"
          class="relative group cursor-pointer z-0 bg-gray-300 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
        >
          <div
            class="text-headline"
            [innerHtml]="'edition.status--closed' | translate"
          ></div>
        </div>
        <div
          *ngSwitchDefault
          class="relative group cursor-pointer z-0 bg-gray-300 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
        >
          <div
            class="text-headline"
            [innerHtml]="
              'edition.current-state'
                | translate: { state: editionState | titlecase }
            "
          ></div>
        </div>
      </div>

      <ng-template #stateLoading>
        <div class="md:w-80 lg:w-96 mb-16">
          <div
            class="relative h-32 group z-0 bg-gray-100 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
          >
            <div class="animate-pulse space-y-2">
              <div class="h-6 md:h-8 bg-gray-300 rounded"></div>
              <div class="h-6 md:h-8 bg-gray-300 rounded w-5/6"></div>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- UPDATES -->
      <div id="updates" class="md:w-80 lg:w-96">
        <div
          class="updates--header border-b border-gray-300 flex items-center pb-3 space-x-2"
        >
          <span>&darr;</span>
          <h3
            class="font-mono bg-gray-100 py-2 px-4"
            [innerHtml]="'snippets.updates' | translate"
          ></h3>
        </div>
        <div *ngIf="updates$ | async as updates" [@inOutAnimation]>
          <!-- SINGLE UPDATE -->
          <div class="update mt-4" *ngFor="let update of updates.data?.updates">
            <div
              class="relative font-mono text-sm py-2 pl-3 sm:pl-5 lg:pl-7 pr-3 md:ml-1 flex justify-between"
            >
              <span
                [innerHtml]="update.created_at | localizedDate: 'short'"
              ></span>
            </div>
            <div
              class="relative group bg-gray-100 hover:bg-gray-200 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
            >
              <div
                class="text-headline"
                [innerHtml]="
                  translateService.currentLang == 'de'
                    ? update.text_de || update.text_en
                    : update.text_en || update.text_de
                "
              ></div>
              <a
                *ngIf="update.url"
                class="inline-block mt-4 font-mono text-black text-opacity-60"
                [href]="update.url"
                target="_blank"
                ><span
                  class="group-hover:underline"
                  [innerHtml]="'actions.read-more' | translate"
                ></span>
                &rarr;</a
              >
              <a
                class="absolute cursor-pointer inset-0 z-0"
                [href]="update.url"
                target="_blank"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
