<div class="min-h-screen flex flex-col">
  <div
    class="container--default sticky top-0 inset-x-0 flex items-center justify-between z-10 backdrop-blur bg-white bg-opacity-80 border-b border-gray-200"
  >
    <div class="text-headline">
      Hallo {{ (user$ | async)?.displayName || "…" }}
    </div>
  </div>
  <div class="flex-auto md:flex max-w-full">
    <!-- APPLICATIONS -->
    <div
      id="applications"
      class="container--default flex-auto w-full md:flex-shrink border-b md:border-b-0 md:border-r border-gray-200 pb-12 mb-2"
    >
      <div *ngIf="applications$ | async as applicationsObject">
        <div class="md:px-6 font-mono">
          {{
            applicationsObject.data?.applications_aggregate?.aggregate?.count ||
              0
          }}
          Einreichungen
        </div>
        <div class="my-4 h-48 bg-gray"></div>
      </div>
      <button
        class="bg-black text-white font-mono text-base leading-none py-3 px-6 w-full rounded-xl"
      >
        Neue Einreichung anlegen
      </button>
      <div class="text-center text-gray-400 pt-4 text-xs">
        Last updated {{ "Fri Jan 29 2021 16:29:07 GMT+0100" | timeAgo }}
      </div>
    </div>
    <!-- STATUS AND UPDATES -->
    <div class="container--default flex-auto max-w-full md:flex-shrink-0">
      <!-- STATUS -->
      <div id="status" class="md:w-80 lg:w-96">
        <div
          class="relative z-0 bg-green-500 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
        >
          <div class="text-headline">Einreichung endet in 4&nbsp;Wochen</div>
          <a [routerLink]="[]"></a>
          <div class="absolute font-mono top-0 right-full pr-1 md:pr-2">!</div>
        </div>
      </div>
      <!-- UPDATES -->
      <div id="updates" class="mt-16 md:w-80 lg:w-96">
        <!-- SINGLE UPDATE -->
        <div class="update mt-4">
          <div
            class="relative font-mono text-sm py-2 px-3 sm:px-5 lg:px-7 md:ml-1"
          >
            {{ "Fri Jan 29 2021 16:29:07 GMT+0100" | date: "short" }}
            <a [routerLink]="[]">X</a>
          </div>
          <div
            class="relative bg-gray-100 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
          >
            <div class="text-headline">Jury 2021 steht fest!</div>
            <a [routerLink]="[]">Mehr dazu</a>
          </div>
        </div>
        <!-- SINGLE UPDATE -->
        <div class="update mt-4">
          <div
            class="relative font-mono text-sm py-2 px-3 sm:px-5 lg:px-7 md:ml-1"
          >
            {{ "Fri Jan 29 2021 16:29:07 GMT+0100" | date: "short" }}
            <a [routerLink]="[]">X</a>
          </div>
          <div
            class="relative bg-gray-100 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
          >
            <div class="text-headline">Jury 2021 steht fest!</div>
            <a [routerLink]="[]">Mehr dazu</a>
          </div>
        </div>
        <!-- SINGLE UPDATE -->
        <div class="update mt-4">
          <div
            class="relative font-mono text-sm py-2 px-3 sm:px-5 lg:px-7 md:ml-1"
          >
            {{ "Fri Jan 29 2021 16:29:07 GMT+0100" | date: "short" }}
            <a [routerLink]="[]">X</a>
          </div>
          <div
            class="relative bg-gray-100 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
          >
            <div class="text-headline">Jury 2021 steht fest!</div>
            <a [routerLink]="[]">Mehr dazu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="container--default flex items-center justify-between">
    <div class="text-headline">Berlin Art Prize</div>
    <div>
      <p>Berlin Art Prize e.V.</p>
      <p>contact@berlinartprize.com</p>
    </div>
  </footer>
</div>
