<header
  class="container--default fixed top-0 inset-x-0 pointer-events-none flex items-center justify-end z-20"
>
  <nav>
    <ul class="rounded-xl pointer-events-auto">
      <li
        class="inline-block"
        *ngFor="
          let lang of multilangService.availableLanguages;
          let first = first;
          let last = last
        "
      >
        <button
          (click)="changeLanguage(lang)"
          class="uppercase p-3 font-condensed text-sm leading-none focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-gray-300 border-gray-300 border-opacity-50"
          [ngClass]="[
            first ? ' rounded-tl-xl rounded-bl-xl border-none' : 'border-l',
            last ? 'rounded-tr-xl rounded-br-xl' : '',
            lang === multilangService.currentLanguage
              ? 'bg-black text-white border-black'
              : 'bg-gray-200 text-black'
          ]"
          [innerText]="lang"
        ></button>
      </li>
    </ul>
  </nav>
</header>
<div
  *ngIf="!(authService.emailVerified | async)"
  class="verify-email fixed bottom-0 inset-x-0 px-4 py-3 z-20 bg-orange-300 text-black leading-none"
>
  {{ "email.please-verify-your-email" | translate }}
  <button
    class="font-mono uppercase text-xs p-1 ml-2"
    (click)="sendVerification()"
  >
    &rarr;
    {{ "email.send-verification-email" | translate }}
  </button>
</div>
<router-outlet></router-outlet>
