<header
  class="container--default fixed top-0 inset-x-0 pointer-events-none flex items-center justify-end z-20"
>
  <nav>
    <ul class="rounded-xl pointer-events-auto">
      <li class="inline-block">
        <button
          class="bg-black text-white rounded-tl-xl rounded-bl-xl uppercase p-3 font-condensed text-sm leading-none focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-gray-300"
        >
          de
        </button>
      </li>
      <li class="inline-block">
        <button
          class="bg-gray-200 text-black rounded-tr-xl rounded-br-xl uppercase p-3 font-condensed text-sm leading-none focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-gray-300"
        >
          en
        </button>
      </li>
    </ul>
  </nav>
</header>
<div
  *ngIf="!(authService.emailVerified | async)"
  class="verify-email fixed bottom-0 inset-x-0 px-4 py-3 z-20 bg-orange-300 text-black leading-none"
>
  Bitte bestätige deine Email-Addresse.
  <button
    class="font-mono uppercase text-xs p-1 ml-2"
    (click)="sendVerification()"
  >
    &rarr; Bestätigungsemail zusenden
  </button>
</div>
<router-outlet></router-outlet>
