<div class="min-h-screen flex flex-col">
  <div
    class="container--default sticky top-0 inset-x-0 flex items-center justify-between z-20 backdrop-blur bg-white bg-opacity-80 border-b border-gray-300"
  >
    <div class="flex items-center space-x-4">
      <button
        (click)="back()"
        class="px-4 rounded-xl h-10 leading-none bg-gray-200 flex items-center"
      >
        <span
          class="sr-only"
          [innerHtml]="'snippets.back-to-overview' | translate"
        ></span>
        <svg
          width="11px"
          height="17px"
          viewBox="0 0 11 17"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-49.000000, -49.000000)">
              <g transform="translate(31.000000, 37.000000)">
                <polyline
                  stroke="currentColor"
                  stroke-width="2"
                  transform="translate(23.500000, 20.500000) rotate(-180.000000) translate(-23.500000, -20.500000) "
                  points="19.5 13.5 27.5 20.5 19.5 27.5"
                ></polyline>
              </g>
            </g>
          </g>
        </svg>
      </button>

      <div
        class="text-headline h-10 leading-10"
        [innerHtml]="('snippets.edit-profile' | translate) + ':'"
      ></div>
    </div>
  </div>
  <div class="flex-auto relative">
    <div
      class="transition-opacity"
      [formGroup]="form"
      [ngClass]="(user$ | async) ? 'opacity-100' : 'opacity-0'"
    >
      <div class="flex-auto max-w-full space-y-5 lg:space-y-7">
        <div class="container--default max-w-3xl mx-auto">
          <div class="mt-8 flex-auto pt-4 pb-10 relative">
            <div
              class="font-mono text-xs sm:text-sm grid grid-cols-form items-center gap-x-4 gap-y-3"
            >
              <label for="displayName" class="text-right"
                >{{ "defaults.name-single" | translate }}*</label
              >
              <input
                id="first-name"
                formControlName="displayName"
                name="displayName"
                type="text"
                autocomplete="name"
                class="appearance-none rounded-none relative block w-full p-2 border-solid bg-gray-100 border-b border-t-0 border-r-0 border-l-0 border-transparent font-mono placeholder-gray-500 text-black focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 text-xs sm:text-sm"
                (keydown.enter)="saveDisplayName()"
              />
              <button
                (click)="saveDisplayName()"
                class="uppercase transition-opacity p-3 rounded-xl bg-gray-200 hover:bg-gray-300 text-black font-condensed text-xs sm:text-sm leading-none focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-gray-300 border-gray-300 border-opacity-50"
                [ngClass]="displayName.dirty ? 'opacity-100' : 'opacity-0'"
                [disabled]="displayName.invalid"
                [tabindex]="displayName.dirty ? 0 : -1"
                [innerHtml]="'actions.save' | translate"
              ></button>
              <label for="email-address" class="text-right">E-Mail*</label>
              <input
                id="email-address"
                formControlName="email"
                name="email"
                type="email"
                autocomplete="email"
                required
                class="appearance-none rounded-none relative block w-full p-2 border-solid bg-gray-100 border-b border-t-0 border-r-0 border-l-0 border-transparent font-mono placeholder-gray-500 text-black focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 text-xs sm:text-sm"
                (keydown.enter)="saveNewEmail()"
              />
              <button
                (click)="saveNewEmail()"
                class="uppercase transition-opacity p-3 rounded-xl bg-gray-200 hover:bg-gray-300 text-black font-condensed text-xs sm:text-sm leading-none focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-gray-300 border-gray-300 border-opacity-50 disabled:opacity-30"
                [ngClass]="email.dirty ? 'opacity-100' : 'opacity-0'"
                [disabled]="email.invalid"
                [tabindex]="email.dirty ? 0 : -1"
                [innerHtml]="'actions.save' | translate"
              ></button>
              <span class="col-span-3">&nbsp;</span>
              <label
                for="password"
                class="text-right"
                [innerHtml]="('snippets.auth.password' | translate) + '*'"
              ></label>
              <button
                *ngIf="!showChangePassword"
                (click)="toggleChangePassword()"
                class="uppercase p-3 rounded-xl bg-gray-200 hover:bg-gray-300 text-black font-condensed text-xs sm:text-sm leading-none focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-gray-300 border-gray-300 border-opacity-50 disabled:opacity-30"
                [innerHtml]="'snippets.auth.change-password' | translate"
              ></button>
              <ng-container *ngIf="showChangePassword">
                <div class="grid grid-cols-2 gap-x-2 relative">
                  <div class="relative">
                    <input
                      id="password"
                      formControlName="password"
                      name="password"
                      type="password"
                      autocomplete="new-password"
                      [placeholder]="'snippets.auth.password' | translate"
                      required
                      class="appearance-none rounded-none relative block w-full p-2 border-solid bg-gray-100 border-b border-t-0 border-r-0 border-l-0 border-transparent font-mono placeholder-gray-500 text-black focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 text-xs sm:text-sm"
                    />
                  </div>
                  <div class="relative">
                    <input
                      id="confirmPassword"
                      formControlName="confirmPassword"
                      name="confirmPassword"
                      type="password"
                      autocomplete="new-password"
                      [placeholder]="
                        'snippets.auth.repeat-password' | translate
                      "
                      class="appearance-none rounded-none relative block w-full p-2 border-solid bg-gray-100 border-b border-t-0 border-r-0 border-l-0 border-transparent font-mono placeholder-gray-500 text-black focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 text-xs sm:text-sm"
                      (keydown.enter)="saveNewPassword()"
                    />
                  </div>
                  <div class="col-span-2">
                    <p
                      class="absolute top-100 mt-2 text-xs font-mono text-gray-500 leading-tight truncate"
                      [innerHtml]="
                        'snippets.auth.password-min-characters' | translate
                      "
                    ></p>
                  </div>
                </div>
                <button
                  (click)="saveNewPassword()"
                  class="uppercase transition-opacity p-3 rounded-xl bg-gray-200 hover:bg-gray-300 text-black font-condensed text-xs sm:text-sm leading-none focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-gray-300 border-gray-300 border-opacity-50 disabled:opacity-30"
                  [ngClass]="
                    password.dirty
                      ? 'opacity-100'
                      : 'opacity-0 pointer-events-none'
                  "
                  [disabled]="
                    password.invalid ||
                    (form.errors && form.errors['mustMatch'])
                  "
                  [tabindex]="password.valid ? 0 : -1"
                  [innerHtml]="'actions.save' | translate"
                ></button>
              </ng-container>
              <div
                class="col-start-2 mt-4 py-4 text-xs font-mono text-red-600 leading-tight"
              >
                <p
                  *ngIf="displayName.touched && displayName.invalid"
                  class="mt-2 truncate"
                  id="name-error"
                  [innerHtml]="'snippets.auth.name-error' | translate"
                ></p>
                <p
                  *ngIf="email.touched && email.invalid"
                  class="mt-2 truncate"
                  id="email-error"
                  [innerHtml]="'snippets.auth.email-error' | translate"
                ></p>
                <p
                  *ngIf="password.dirty && password.invalid"
                  class="mt-2 truncate"
                  id="password-too-short"
                  [innerHtml]="'snippets.auth.password-too-short' | translate"
                ></p>
                <p
                  *ngIf="
                    password.touched &&
                    confirmPassword.dirty &&
                    form.errors &&
                    form.errors['mustMatch']
                  "
                  class="mt-2 truncate"
                  id="password-not-matching"
                  [innerHtml]="
                    'snippets.auth.password-not-matching' | translate
                  "
                ></p>
              </div>
            </div>
          </div>
          <!-- <pre class="col-span-4 p-1 bg-red-50 text-xs overflow-hidden">
            {{ user$ | async | json }}
          </pre> -->
        </div>
      </div>
    </div>
    <div
      *ngIf="!(user$ | async)"
      class="absolute inset-0 flex-auto max-w-full space-y-5 lg:space-y-7"
    >
      <div class="container--default max-w-3xl mx-auto">
        <div class="mt-8 flex-auto pt-4 pb-10 relative">
          <div
            class="animate-pulse font-mono text-xs sm:text-sm grid grid-cols-form items-center gap-x-4 gap-y-3"
          >
            <div class="h-6 md:h-8 bg-gray-100 rounded w-20"></div>
            <div class="h-6 md:h-8 bg-gray-200 rounded w-auto"></div>
            <div class="h-6 md:h-8 w-20">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="h-6 md:h-8 bg-gray-100 rounded w-20"></div>
            <div class="h-6 md:h-8 bg-gray-200 rounded w-auto"></div>
            <div class="h-6 md:h-8 w-20">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="h-6 md:h-8 col-span-3">&nbsp;</div>

            <div class="h-6 md:h-8 bg-gray-100 rounded w-20"></div>
            <div class="h-6 md:h-8 bg-gray-200 rounded w-auto"></div>
            <div class="h-6 md:h-8 w-20">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
