<pdf-viewer
  *ngIf="downloadURL | async; let url; else: loading"
  class="block h-full w-auto bg-gray-50 dark:bg-gray-950"
  [src]="url"
  [show-all]="false"
  [page]="page"
  [zoom]="zoom"
  [original-size]="false"
  [autoresize]="true"
  [zoom-scale]="'page-fit'"
  (after-load-complete)="afterLoadComplete($event)"
  [title]=""
></pdf-viewer>
<ng-template #loading>
  <div
    class="flex transition-colors items-center justify-center relative"
    [ngClass]="[
      error
        ? 'bg-red-200 text-red-600'
        : 'bg-gray-300 dark:bg-gray-600 text-gray-800 dark:text-gray-900'
    ]"
  >
    <div
      class="spinner transition-opacity"
      [ngClass]="error ? 'opacity-0' : 'opacity-1'"
    ></div>
    <div
      class="absolute bottom-0 right-0 p-1 text-xs sm:text-sm md:text-base font-mono transition-opacity"
      [ngClass]="error ? 'opacity-1' : 'opacity-0'"
    >
      404
    </div>
  </div>
</ng-template>
<div
  class="absolute transition-opacity duration-300 delay-150 lg:opacity-0 lg:group-hover:opacity-100 top-0 right-0 m-2"
>
  <a
    [href]="downloadURL | async"
    download="true"
    target="_blank"
    class="w-6 h-6 leading-6 text-center bg-gray-100 dark:bg-gray-900 dark:bg-opacity-100 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-full"
    mat-button
    type="button"
    title="download"
  >
    &#8599;
  </a>
</div>
<div
  class="absolute bottom-14 lg:bottom-0 inset-x-0 m-2 flex justify-center transition-opacity duration-300 delay-150 lg:opacity-50 lg:group-hover:opacity-100"
  *ngIf="pdf"
>
  <button
    class="p-2 bg-gray-100 dark:bg-gray-900 dark:bg-opacity-100 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-tl-xl rounded-bl-xl"
    (click)="incrementPage(-1)"
    mat-button
    type="button"
  >
    &larr;
  </button>
  <div
    class="py-1 px-2 text-xs text-center leading-none bg-gray-100 dark:bg-gray-900 dark:bg-opacity-100"
  >
    <input
      class="outline-none border-none focus:outline-none focus:ring-0 bg-transparent py-1 px-0 w-6 h-auto text-xs text-right"
      type="number"
      [(ngModel)]="page"
      min="1"
      [max]="pdf.numPages"
    />
    <span class="inline-block">&thinsp;/&thinsp;</span>
    <span class="inline-block w-6 text-left">{{ pdf.numPages || 1 }}</span>
  </div>
  <button
    class="p-2 bg-gray-100 dark:bg-gray-900 dark:bg-opacity-100 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-tr-xl rounded-br-xl"
    (click)="incrementPage(1)"
    mat-button
    type="button"
  >
    &rarr;
  </button>
  <button
    class="ml-2 p-2 bg-gray-100 dark:bg-gray-900 dark:bg-opacity-100 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-tl-xl rounded-bl-xl"
    (click)="zoomOut()"
    mat-button
    type="button"
  >
    –
  </button>
  <button
    class="p-2 bg-gray-100 dark:bg-gray-900 dark:bg-opacity-100 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-tr-xl rounded-br-xl"
    (click)="zoomIn()"
    mat-button
    type="button"
  >
    +
  </button>
</div>
