<div
  class="font-mono text-xs border-b border-black dark:border-white mx-4 pt-4 pb-1"
  [innerText]="'snippets.internal-chat' | translate | uppercase"
></div>
<div
  *ngIf="authState | async as user"
  class="h-full overflow-scroll overscroll-contain p-4 no-scrollbar"
  #scrollMe
>
  <div
    class="my-4 rounded-3xl relative group"
    *ngFor="let message of (messages$ | async)?.data?.messages; let last = last"
    @messageTrigger
    (@messageTrigger.start)="scrollToBottom()"
    [ngClass]="[
      user?.uid === message.user.id
        ? 'bg-blue-600 text-white text-right ml-12'
        : 'bg-white dark:bg-gray-700 text-blue-600 dark:text-white mr-12',
      message.rating ? 'ring-2 ring-blue-500 dark:ring-blue-300' : ''
    ]"
  >
    <div
      class="text-xxs font-mono pt-5 px-4 flex-wrap flex leading-tight"
      [ngClass]="[
        user?.uid === message.user.id ? 'justify-end' : 'justify-start'
      ]"
    >
      <div
        class="whitespace-nowrap"
        [innerText]="message.created_at | date: 'short'"
        [ngClass]="[user?.uid === message.user.id ? 'order-1' : 'order-3']"
      ></div>
      <div class="order-2">&thinsp;–&thinsp;</div>
      <div
        class="whitespace-nowrap"
        [innerText]="user?.uid === message.user.id ? 'You' : message.user.name"
        [ngClass]="[user?.uid === message.user.id ? 'order-3' : 'order-1']"
      ></div>
    </div>
    <div
      *ngIf="message.rating"
      class="inline-block rounded-full mx-2 mt-2 py-1 px-3 leading-none bg-blue-600 text-white font-medium text-xxs uppercase"
    >
      … voted with [{{ (message.rating?.value | getScore).i18n | translate }}]
    </div>
    <div class="px-4 pt-4 pb-6" [innerText]="message.text"></div>
    <button
      *ngIf="user?.uid === message.user.id && last"
      (click)="deleteMessage(message.id)"
      class="appearance-none opacity-0 group-hover:opacity-100 transition-all absolute -top-1 -right-1 text-xs font-mono bg-black hover:bg-red-600 cursor-pointer text-white w-5 h-5 leading-5 rounded-full text-center"
    >
      X
    </button>
  </div>
  <div
    *ngIf="!(((messages$ | async)?.data?.messages?.length || 0) > 0)"
    class="text-center py-16 text-gray-300"
    [innerText]="'snippets.no-messages' | translate"
  ></div>
  <div class="h-28" *ngIf="!readOnly"></div>
</div>
<div class="absolute bottom-0 inset-x-0" *ngIf="!readOnly">
  <div
    class="absolute bottom-0 inset-x-0 bg-gradient-to-t from-gray-400 dark:from-gray-950 to-transparent opacity-75 h-24 pointer-events-none"
  ></div>
  <form
    class="relative flex items-center m-4 mb-8 bg-blue-600 text-white pt-1 pb-3 pl-2"
    (ngSubmit)="sendMessage()"
  >
    <input
      type="text"
      [placeholder]="'snippets.insert-message' | translate"
      class="appearance-none px-0 rounded-none relative block w-full p-2 border-0 border-b border-white font-mono bg-transparent placeholder-white placeholder-opacity-50 text-white focus:outline-none focus:border-white focus:z-10 text-sm"
      name="newMessage"
      [(ngModel)]="newMessage"
    />
    <button class="appearance-none p-2" type="button">&rarr;</button>
  </form>
</div>
