<div
  class="font-mono text-xs border-b border-black dark:border-white mx-4 pt-4 pb-1"
  [innerHtml]="'snippets.internal-chat' | translate | uppercase"
></div>
<div
  *ngIf="authState | async as user"
  class="h-full overflow-scroll overscroll-contain no-scrollbar"
  #scrollMe
>
  <div
    class="my-4 relative group"
    *ngFor="let message of (messages$ | async)?.data?.messages; let last = last"
    @messageTrigger
    (@messageTrigger.start)="scrollToBottom()"
    [ngClass]="[
      message.rating
        ? ''
        : user?.uid === message.user.id
        ? 'rounded-3xl bg-blue-600 text-white text-right ml-12 mr-4'
        : 'rounded-3xl bg-white dark:bg-gray-700 text-blue-600 dark:text-white ml-4 mr-12'
    ]"
  >
    <div
      class="text-xxs font-mono pt-5 px-4 flex-wrap flex leading-tight"
      [ngClass]="[
        user?.uid === message.user.id ? 'justify-end' : 'justify-start'
      ]"
    >
      <div
        class="whitespace-nowrap"
        [innerHtml]="message.created_at | localizedDate: 'short'"
        [ngClass]="[user?.uid === message.user.id ? 'order-1' : 'order-3']"
      ></div>
      <div class="order-2">&thinsp;–&thinsp;</div>
      <div
        *ngIf="message.rating"
        [innerHtml]="
          (user?.uid === message.user.id
            ? 'snippets.rating-by-you'
            : 'snippets.rating-by'
          )
            | translate
              : {
                  name: message.user.name
                }
        "
        [ngClass]="[user?.uid === message.user.id ? 'order-3' : 'order-1']"
      ></div>
      <div
        *ngIf="!message.rating"
        class="whitespace-nowrap"
        [innerHtml]="user?.uid === message.user.id ? 'You' : message.user.name"
        [ngClass]="[user?.uid === message.user.id ? 'order-3' : 'order-1']"
      ></div>
    </div>
    <div [ngClass]="[message.rating ? 'bg-black text-white mt-1' : '']">
      <div
        *ngIf="message.rating"
        class="flex justify-between items-baseline mx-4 pt-4 pb-2 text-xs leading-none border-b border-current text-white font-mono uppercase"
      >
        <div>[{{ (message.rating?.value | getScore).i18n | translate }}]</div>
        <div
          class="text-opacity-80 text-xxs leading-none text-white"
          *ngIf="message.rating?.rating_round"
        >
          {{ "defaults.round-single" | translate }}&nbsp;{{
            (message.rating?.rating_round?.level || 0) + 1
          }}
        </div>
      </div>
      <div class="px-4 pt-4 pb-6" [innerHtml]="message.text"></div>
    </div>

    <button
      *ngIf="user?.uid === message.user.id && last"
      (click)="deleteMessage(message.id)"
      class="appearance-none opacity-0 group-hover:opacity-100 transition-all absolute -top-1 -right-1 text-xs font-mono bg-black hover:bg-red-600 cursor-pointer text-white w-5 h-5 leading-5 rounded-full text-center"
    >
      X
    </button>
  </div>
  <div
    *ngIf="!(((messages$ | async)?.data?.messages?.length || 0) > 0)"
    class="text-center py-16 text-gray-300"
    [innerHtml]="'snippets.no-messages' | translate"
  ></div>
  <div class="h-28" *ngIf="!readOnly"></div>
</div>
<div class="absolute bottom-0 inset-x-0" *ngIf="!readOnly">
  <div
    class="absolute bottom-0 inset-x-0 bg-gradient-to-t from-gray-300 dark:from-gray-950 to-transparent opacity-75 h-24 pointer-events-none"
  ></div>
  <form
    class="relative flex items-center m-4 bg-blue-600 text-white pt-1 pb-3 pl-2"
    (ngSubmit)="sendMessage()"
  >
    <input
      type="text"
      [placeholder]="'snippets.insert-message' | translate"
      class="appearance-none px-0 rounded-none relative block w-full p-2 border-0 border-b border-white font-mono bg-transparent placeholder-white placeholder-opacity-50 text-white focus:outline-none focus:border-white focus:z-10 text-xs sm:text-sm"
      name="newMessage"
      [(ngModel)]="newMessage"
    />
    <button class="appearance-none p-2" type="submit">&rarr;</button>
  </form>
</div>
