<div class="lg:flex max-w-full">
  <ng-container [ngSwitch]="state$ | async">
    <!-- STATISTICS -->
    <div
      id="statistics"
      *ngSwitchCase="'submission'"
      class="container--default flex-auto w-full md:flex-shrink"
    >
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-form gap-0 items-stretch"
        *ngIf="statistic$ | async as statisticObject"
      >
        <div class="xl:w-96 flex flex-col">
          <div class="px-4 lg:px-6 pb-2">
            <div class="font-mono text-xs">
              {{
                statisticObject?.data?.applications_total?.aggregate?.count || 0
              }}
              {{
                (statisticObject?.data?.applications_total?.aggregate?.count ===
                1
                  ? "defaults.application-single"
                  : "defaults.application-multi"
                ) | translate
              }}
            </div>
          </div>
          <div class="flex-auto bg-gray-100 p-4 lg:p-6">
            <div
              class="flex w-full justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">Angelegt</div>
              <div class="text-3xl">
                {{
                  statisticObject?.data?.applications_untouched?.aggregate
                    ?.count
                }}
              </div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">In Bearbeitung</div>
              <div class="text-3xl text-yellow-500">
                {{
                  statisticObject?.data?.applications_edited?.aggregate?.count
                }}
              </div>
            </div>
            <div class="flex justify-between items-center pb-4">
              <div class="font-mono">Abgeschlossen</div>
              <div class="text-3xl text-green-600">
                {{
                  statisticObject?.data?.applications_ready?.aggregate?.count
                }}
              </div>
            </div>

            <a
              [routerLink]="['..', 'applications']"
              class="inline-block mt-8 mb-4 bg-black text-white font-mono text-base leading-none py-3 px-6 rounded-xl"
              [innerText]="
                ('defaults.application-multi' | translate) + ' &rarr;'
              "
            ></a>
            <div class="aspect-w-1 aspect-h-1 bg-red-50 mt-4"></div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between px-4 lg:px-6 xl:pl-16 pb-2">
            <div
              class="font-mono text-xs"
              [innerText]="
                'statistics.top-ten'
                  | translate: { type: ('defaults.medium-multi' | translate) }
                  | uppercase
              "
            ></div>
            <div
              class="font-mono text-xs text-right"
              [innerText]="'defaults.percent-single' | translate | uppercase"
            ></div>
          </div>
          <div class="flex-auto bg-gray-100 p-4 lg:p-6 xl:pl-16">
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">Konzeptkunst</div>
              <div class="text-3xl text-green-600">36%</div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">Konzeptkunst</div>
              <div class="text-3xl text-green-600">36%</div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">Konzeptkunst</div>
              <div class="text-3xl text-green-600">36%</div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">Konzeptkunst</div>
              <div class="text-3xl text-green-600">36%</div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">Konzeptkunst</div>
              <div class="text-3xl text-green-600">36%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- RATING -->
    <div
      id="rating"
      *ngSwitchCase="'rating'"
      class="container--default flex-auto w-full md:flex-shrink"
    >
      <div class="md:grid md:grid-cols-2 xl:grid-cols-form gap-0 items-stretch">
        <div class="xl:w-96 flex flex-col">
          <div class="px-4 lg:px-6 pb-2">
            <div class="font-mono text-xs">Bewerbungsrunde 3</div>
          </div>
          <div class="flex-auto bg-gray-100 p-4 lg:p-6">
            <div
              class="flex w-full justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">Nominiert</div>
              <div class="text-3xl">76/150</div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">Raus</div>
              <div class="text-3xl text-yellow-500">84</div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4"
            >
              <div class="font-mono">Unbewertet</div>
              <div class="text-3xl text-green-600">107</div>
            </div>
            <div>
              <a [routerLink]="['..', 'settings']" class="underline font-mono"
                >Ziele bearbeiten &rarr;</a
              >
            </div>

            <a
              [routerLink]="['..', 'applications']"
              class="inline-block mt-8 mb-2 bg-black text-white font-mono text-base leading-none py-3 px-6 rounded-xl"
              >Zu den Bewerbungen &rarr;</a
            >
            <button
              class="inline-block mb-2 bg-transparent text-black border-black border font-mono text-base leading-none py-3 px-6 rounded-xl disabled:opacity-30"
              disabled
            >
              Runde beenden
            </button>

            <button
              class="inline-block mb-2 bg-transparent text-black border-black border font-mono text-base leading-none py-3 px-6 rounded-xl disabled:opacity-30"
              disabled
            >
              Gewinner:innen ermitteln
            </button>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between px-4 lg:px-6 xl:pl-16 pb-2">
            <div class="font-mono text-xs">Jury Bewertungen (Runde 1/3)</div>
            <div class="font-mono text-xs text-right">Stand</div>
          </div>
          <div class="flex-auto bg-gray-100 p-4 lg:p-6 xl:pl-16">
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4 font-mono"
            >
              <div class="flex-auto">Julieta Aranda</div>
              <div
                class="flex-auto mx-4 mb-3 border border-black w-24 h-3 relative"
              >
                <div
                  class="absolute inset-0 transition-transform bg-green-500 origin-top-left transform-gpu scale-x-75"
                ></div>
                <div class="absolute top-full left-0 text-xs">75%</div>
              </div>
              <div>
                <svg
                  width="30px"
                  height="27px"
                  viewBox="0 0 30 27"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <path
                      d="M27.5529429,0.333560656 C28.8853714,0.333560656 29.9700857,1.45339672 29.9700857,2.8299541 L29.9700857,2.8299541 L29.9700857,18.8051016 C29.9700857,20.181659 28.8853714,21.3014951 27.5529429,21.3014951 L27.5529429,21.3014951 L25.1362286,21.3014951 L25.1362286,26.999823 L19.6188,21.3014951 L2.41722857,21.3014951 C1.0848,21.3014951 8.57142869e-05,20.181659 8.57142869e-05,18.8051016 L8.57142869e-05,18.8051016 L8.57142869e-05,2.8299541 C8.57142869e-05,1.45339672 1.0848,0.333560656 2.41722857,0.333560656 L2.41722857,0.333560656 Z M21.0001714,15 L4.00017143,15 L4.00017143,16 L21.0001714,16 L21.0001714,15 Z M21.0001714,10 L7.00017143,10 L7.00017143,11 L21.0001714,11 L21.0001714,10 Z M21.0001714,5 L7.00017143,5 L7.00017143,6 L21.0001714,6 L21.0001714,5 Z"
                      id="Fill-2"
                      fill="currentColor"
                      transform="translate(14.985086, 13.666692) scale(-1, 1) translate(-14.985086, -13.666692) "
                    ></path>
                  </g>
                </svg>
              </div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4 font-mono"
            >
              <div class="flex-auto">Julieta Aranda</div>
              <div
                class="flex-auto mx-4 mb-3 border border-black w-24 h-3 relative"
              >
                <div
                  class="absolute inset-0 transition-transform bg-green-500 origin-top-left transform-gpu scale-x-75"
                ></div>
                <div class="absolute top-full left-0 text-xs">75%</div>
              </div>
              <div>
                <svg
                  width="30px"
                  height="27px"
                  viewBox="0 0 30 27"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <path
                      d="M27.5529429,0.333560656 C28.8853714,0.333560656 29.9700857,1.45339672 29.9700857,2.8299541 L29.9700857,2.8299541 L29.9700857,18.8051016 C29.9700857,20.181659 28.8853714,21.3014951 27.5529429,21.3014951 L27.5529429,21.3014951 L25.1362286,21.3014951 L25.1362286,26.999823 L19.6188,21.3014951 L2.41722857,21.3014951 C1.0848,21.3014951 8.57142869e-05,20.181659 8.57142869e-05,18.8051016 L8.57142869e-05,18.8051016 L8.57142869e-05,2.8299541 C8.57142869e-05,1.45339672 1.0848,0.333560656 2.41722857,0.333560656 L2.41722857,0.333560656 Z M21.0001714,15 L4.00017143,15 L4.00017143,16 L21.0001714,16 L21.0001714,15 Z M21.0001714,10 L7.00017143,10 L7.00017143,11 L21.0001714,11 L21.0001714,10 Z M21.0001714,5 L7.00017143,5 L7.00017143,6 L21.0001714,6 L21.0001714,5 Z"
                      id="Fill-2"
                      fill="currentColor"
                      transform="translate(14.985086, 13.666692) scale(-1, 1) translate(-14.985086, -13.666692) "
                    ></path>
                  </g>
                </svg>
              </div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4 font-mono"
            >
              <div class="flex-auto">Julieta Aranda</div>
              <div
                class="flex-auto mx-4 mb-3 border border-black w-24 h-3 relative"
              >
                <div
                  class="absolute inset-0 transition-transform bg-green-500 origin-top-left transform-gpu scale-x-75"
                ></div>
                <div class="absolute top-full left-0 text-xs">75%</div>
              </div>
              <div>
                <svg
                  width="30px"
                  height="27px"
                  viewBox="0 0 30 27"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <path
                      d="M27.5529429,0.333560656 C28.8853714,0.333560656 29.9700857,1.45339672 29.9700857,2.8299541 L29.9700857,2.8299541 L29.9700857,18.8051016 C29.9700857,20.181659 28.8853714,21.3014951 27.5529429,21.3014951 L27.5529429,21.3014951 L25.1362286,21.3014951 L25.1362286,26.999823 L19.6188,21.3014951 L2.41722857,21.3014951 C1.0848,21.3014951 8.57142869e-05,20.181659 8.57142869e-05,18.8051016 L8.57142869e-05,18.8051016 L8.57142869e-05,2.8299541 C8.57142869e-05,1.45339672 1.0848,0.333560656 2.41722857,0.333560656 L2.41722857,0.333560656 Z M21.0001714,15 L4.00017143,15 L4.00017143,16 L21.0001714,16 L21.0001714,15 Z M21.0001714,10 L7.00017143,10 L7.00017143,11 L21.0001714,11 L21.0001714,10 Z M21.0001714,5 L7.00017143,5 L7.00017143,6 L21.0001714,6 L21.0001714,5 Z"
                      id="Fill-2"
                      fill="currentColor"
                      transform="translate(14.985086, 13.666692) scale(-1, 1) translate(-14.985086, -13.666692) "
                    ></path>
                  </g>
                </svg>
              </div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4 font-mono"
            >
              <div class="flex-auto">Julieta Aranda</div>
              <div
                class="flex-auto mx-4 mb-3 border border-black w-24 h-3 relative"
              >
                <div
                  class="absolute inset-0 transition-transform bg-green-500 origin-top-left transform-gpu scale-x-75"
                ></div>
                <div class="absolute top-full left-0 text-xs">75%</div>
              </div>
              <div>
                <svg
                  width="30px"
                  height="27px"
                  viewBox="0 0 30 27"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <path
                      d="M27.5529429,0.333560656 C28.8853714,0.333560656 29.9700857,1.45339672 29.9700857,2.8299541 L29.9700857,2.8299541 L29.9700857,18.8051016 C29.9700857,20.181659 28.8853714,21.3014951 27.5529429,21.3014951 L27.5529429,21.3014951 L25.1362286,21.3014951 L25.1362286,26.999823 L19.6188,21.3014951 L2.41722857,21.3014951 C1.0848,21.3014951 8.57142869e-05,20.181659 8.57142869e-05,18.8051016 L8.57142869e-05,18.8051016 L8.57142869e-05,2.8299541 C8.57142869e-05,1.45339672 1.0848,0.333560656 2.41722857,0.333560656 L2.41722857,0.333560656 Z M21.0001714,15 L4.00017143,15 L4.00017143,16 L21.0001714,16 L21.0001714,15 Z M21.0001714,10 L7.00017143,10 L7.00017143,11 L21.0001714,11 L21.0001714,10 Z M21.0001714,5 L7.00017143,5 L7.00017143,6 L21.0001714,6 L21.0001714,5 Z"
                      id="Fill-2"
                      fill="currentColor"
                      transform="translate(14.985086, 13.666692) scale(-1, 1) translate(-14.985086, -13.666692) "
                    ></path>
                  </g>
                </svg>
              </div>
            </div>
            <div
              class="flex justify-between items-center border-b border-black pb-4 mb-4 font-mono"
            >
              <div class="flex-auto">Julieta Aranda</div>
              <div
                class="flex-auto mx-4 mb-3 border border-black w-24 h-3 relative"
              >
                <div
                  class="absolute inset-0 transition-transform bg-green-500 origin-top-left transform-gpu scale-x-75"
                ></div>
                <div class="absolute top-full left-0 text-xs">75%</div>
              </div>
              <div>
                <svg
                  width="30px"
                  height="27px"
                  viewBox="0 0 30 27"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <path
                      d="M27.5529429,0.333560656 C28.8853714,0.333560656 29.9700857,1.45339672 29.9700857,2.8299541 L29.9700857,2.8299541 L29.9700857,18.8051016 C29.9700857,20.181659 28.8853714,21.3014951 27.5529429,21.3014951 L27.5529429,21.3014951 L25.1362286,21.3014951 L25.1362286,26.999823 L19.6188,21.3014951 L2.41722857,21.3014951 C1.0848,21.3014951 8.57142869e-05,20.181659 8.57142869e-05,18.8051016 L8.57142869e-05,18.8051016 L8.57142869e-05,2.8299541 C8.57142869e-05,1.45339672 1.0848,0.333560656 2.41722857,0.333560656 L2.41722857,0.333560656 Z M21.0001714,15 L4.00017143,15 L4.00017143,16 L21.0001714,16 L21.0001714,15 Z M21.0001714,10 L7.00017143,10 L7.00017143,11 L21.0001714,11 L21.0001714,10 Z M21.0001714,5 L7.00017143,5 L7.00017143,6 L21.0001714,6 L21.0001714,5 Z"
                      id="Fill-2"
                      fill="currentColor"
                      transform="translate(14.985086, 13.666692) scale(-1, 1) translate(-14.985086, -13.666692) "
                    ></path>
                  </g>
                </svg>
              </div>
            </div>
            <div>
              <a [routerLink]="['..', 'settings']" class="underline font-mono"
                >Jury bearbeiten &rarr;</a
              >
            </div>
            <button
              class="inline-block mt-8 bg-black text-white border-black border font-mono text-base leading-none py-3 px-6 rounded-xl"
            >
              Nachricht an gesamte Jury
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchDefault>missing layout for {{ state$ | async }}</div>
  </ng-container>

  <!-- STATUS AND UPDATES -->
  <div class="container--default flex-auto max-w-full md:flex-shrink-0">
    <!-- STATUS -->
    <div class="md:w-80 lg:w-96">
      <div
        class="relative group cursor-pointer z-0 bg-green-500 py-3 sm:py-5 px-3 sm:px-5 lg:px-7 md:ml-1"
      >
        <!-- <div
              class="text-headline"
              [innerText]="
                'edition.status--application-ends-in'
                  | translate
                    : { time: (edition$ | async)?.application_end | timePassed }
              "
            ></div> -->
        <a
          class="inline-block mt-4 font-mono text-black text-opacity-70"
          [routerLink]="[]"
          ><span class="group-hover:underline">Einstellungen</span> &rarr;</a
        >
        <div class="absolute font-mono top-0 right-full pr-1 md:pr-2">!</div>
      </div>
    </div>
  </div>
</div>
