<app-modal #modalComponent class="dark" [boxed]="false">
  <div class="w-screen container--default relative z-10">
    <div
      class="sm:flex sm:items-start justify-between transition-all transform-gpu duration-300"
      [ngClass]="[value < 0 ? 'translate-y-12' : 'translate-y-0']"
    >
      <button
        (click)="selectRating(score.value)"
        class="text-extreme block mt-4 transition-opacity text-white focus:outline-none focus:ring-0 appearance-none"
        *ngFor="let score of scoring.values"
        [innerHtml]="'[' + ((score.i18n | translate) || score.name) + ']'"
        [ngClass]="{
          'opacity-75 hover:opacity-100': value < 0,
          'opacity-100': value >= 0 && score.value === value,
          'opacity-5 sm:opacity-0 pointer-events-none':
            value >= 0 && score.value !== value
        }"
      ></button>
    </div>
    <div
      class="p-2 flex mt-2 transition-all transform-gpu duration-500"
      [ngClass]="[
        value < 0
          ? 'translate-y-12 opacity-0 pointer-events-none'
          : 'translate-y-0 opacity-100'
      ]"
    >
      <div class="flex-auto bg-black pt-2 px-2 pb-10">
        <input
          id="reason"
          [(ngModel)]="reason"
          (keydown.enter)="addRating()"
          name="reason"
          type="text"
          spellcheck="true"
          class="appearance-none rounded-none relative block w-full px-0 py-2 border-solid bg-transparent border-b border-t-0 border-r-0 border-l-0 border-white font-mono placeholder-gray-300 text-white focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 text-xs sm:text-sm"
          placeholder="Begründung formulieren"
        />
      </div>
      <button
        [disabled]="reason == ''"
        (click)="addRating()"
        class="ml-4 py-6 px-8 border border-transparent leading-none font-mono rounded-3xl text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 disabled:opacity-50"
      >
        senden
      </button>
    </div>
  </div>
  <div
    class="fixed top-0 inset-0 flex mt-5 sm:mt-4 mx-4 items-start justify-center z-10"
  >
    <button
      (click)="close()"
      type="button"
      class="mt-3 w-full inline-flex justify-center rounded-xl border border-gray-800 dark:border-white px-6 py-3 bg-white dark:bg-transparent text-xs sm:text-sm md:text-base font-mono text-gray-700 dark:text-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
    >
      Bewertung abbrechen
    </button>
  </div>
</app-modal>
