<div class="flex-auto max-w-full space-y-5 lg:space-y-7">
  <div class="xl:container container--default mx-auto border-b border-gray-300">
    <h1 class="text-headline">Bewerbungszeit</h1>
  </div>
  <div class="xl:container container--default mx-auto border-b border-gray-300">
    <h1 class="text-headline">Runden</h1>
  </div>
  <div class="xl:container container--default mx-auto border-b border-gray-300">
    <h1 class="text-headline">Jury</h1>
  </div>
  <div class="xl:container container--default mx-auto">
    <h1 class="text-headline">Allgemein</h1>
  </div>
</div>
